{% load static from staticfiles %}

<div class="search_results_ctrl">
    <span class="nav"><a href="{% url 'openoni_issues' issue.title.lccn %}" class="ar-back">Back to Browse All Available Issues</a> 

|
{% if issue.previous %}
<a href="{% url 'openoni_issue_pages' issue.previous.title.lccn issue.previous.date_issued issue.previous.edition %}" shape="rect"><strong>Previous Issue</strong></a>
{% else %}
<span class="off">Previous Issue</span>
{% endif %}
| 
<!--Next issue-->
{% if issue.next %}
<a href="{% url 'openoni_issue_pages' issue.next.title.lccn issue.next.date_issued issue.next.edition %}"><strong>Next Issue</strong></a>
{% else %}
<span class="off">Next Issue</span>
{% endif %}

| <a href="{% url 'openoni_issues_first_pages' title.lccn %}"><strong>Show all front pages</strong></a>
</span>

{% if paginator.num_pages > 1 %}
<span class="pagination">
    |
    {% if page.has_previous %}
    <a href="{% url 'openoni_issue_pages_page_number' title.lccn issue.date_issued issue.edition page.previous_page_number %}" class="prev">
        <img src="{% static 'images/pag_prev_on.gif' %}" alt="prev" width="13" height="13" />
    </a>
    {% endif %}
    {% for page_number in page_range_short %}
        {% if not forloop.first %}|{% endif %}
        {% ifequal page_number "..." %}
            ...
        {% else %}
            {% ifequal page_number page.number %}
            <span class="off">{{page_number}}</span>
            {% else %}
            <a href="{% url 'openoni_issue_pages_page_number' title.lccn issue.date_issued issue.edition page_number %}">{{page_number}}</a>
            {% endifequal %}
        {% endifequal %}
    {% endfor %}

    {% if page.has_next %}
    <a href="{% url 'openoni_issue_pages_page_number' title.lccn issue.date_issued issue.edition page.next_page_number %}" class="next">
    <img src="{% static 'images/pag_next_on.gif' %}" alt="next" width="13" height="13" />
    </a>
    {% endif %}
</span>
<form action="" method="GET" class="jumptopage" name="page_number_form">
    <label for="jumptopage">Jump to page:</label> <input class="std" type="text" id="jumptopage" name="page" value="" size="5" />
    <input type="submit" class="submit" value="GO" />
</form>
{% endif %}
</div><!-- end class:search_results_ctrl -->
