{% load static from staticfiles %}

<div class="search_results_ctrl">
    <span class="nav"><a href="{% url 'openoni_issues' issue.title.lccn %}" class="ar-back">Back to Browse All Available Issues</a> 
| Show all front pages</span>
{% if paginator.num_pages > 1 %}
    <span class="pagination">
|
        {% if page.has_previous %}
        <a href="{% url 'openoni_issues_first_pages_page_number' title.lccn page.previous_page_number %}" class="prev">
            <img src="{% static 'images/pag_prev_on.gif' %}" alt="prev" width="13" height="13" />
        </a>
        {% endif %}
        {% for page_number in page_range_short %}
          {% if not forloop.first %}|{% endif %}
      {% ifequal page_number "..." %}
      ...
      {% else %}

        {% ifequal page_number page.number %}
        <span class="off">{{page_number}}</span>
        {% else %}
        <a href="{% url 'openoni_issues_first_pages_page_number' title.lccn page_number %}">{{page_number}}</a>
        {% endifequal %}

      {% endifequal %}

        {% endfor %}

        {% if page.has_next %}
        <a href="{% url 'openoni_issues_first_pages_page_number' title.lccn page.next_page_number %}" class="next">
        <img src="{% static 'images/pag_next_on.gif' %}" alt="next" width="13" height="13" /></a>
        {% endif %}
    </span>
    <form action="" method="GET" class="jumptopage" name="page_number_form">
        <label for="jumptopage">Jump to page:</label> <input class="std" type="text" id="jumptopage" name="page" value="" size="5" />
       <input type="submit" class="submit" value="GO" />
    </form>
{% endif %}
</div><!-- end class:search_results_ctrl -->
