        <meta name="description" content="{{ title }}" />
        <meta name="keywords" content="{{ title.subjects.all|join:"," }}" />

        <link title="Dublin Core Metadata Schema" rel="schema.DC" href="http://purl.org/DC/elements/1.1/" />
        <meta name="DC.title" content="{{ title_metadata }}" />
        <meta name="DC.publisher" content="{{ title.publisher }}" />
        <meta name="DC.issued" content="{% if issue %}{{ issue.date_issued|date:"Y-m-d" }}{% else %}{{ title.start_year }}/{{ title.end_year }}{% endif %}" />
        <meta name="DC.identifier" content="info:lccn/{{ title.lccn }}" />
        <meta name="DC.identifier" content="info:oclcnum/{{ title.oclc }}" />
        <meta name="DC.identifier" content="urn:issn:{{ title.issn }}" />
        <meta name="DC.type" content="text" />
        {% for s in title.subjects.all %}<meta name="DC.subject" content="{{ s.heading }}" />
        {% endfor %} 
        {% for l in title.languages.all %}<meta name="DC.language" content="{{ l.code }}" />
        {% endfor %}
        <link title="MODS Metadata Schema" rel="schema.mods" href="http://www.loc.gov/standards/mods/mods.xsd" />
        <meta name="mods.title" content="{{ title.display_name }}" />
        <meta name="mods.place" content="{{ title.place_of_publication }}" />
        {% for p in title.places.all %}<meta name="mods.place" content="{{ p.name }}" />{% endfor %}
        <meta name="mods.url" content="{{ request.build_absolute_uri }}" />
        <meta name="mods.issn" content="{{ title.issn }}" />
        <meta name="mods.lccn" content="{{ title.lccn }}" />
        {% for l in title.languages.all %}<meta name="mods.languageTerm" content="{{ l.code }}" />
        {% endfor %}

        <meta name="citation_title" content="{{ title_metadata }}" />
        <meta name="citation_issn" content="{{ title.issn }}" />
        {% if page.number %}<meta name="citation_firstpage" content="{{ page.number }}" />{% endif %}
        {% if issue %}<meta name="citation_issue" content="{{ issue.date_issued|date:"Y/m/d" }}" />{% endif %}
        {% if issue %}<meta name="citation_date" content="{{ issue.date_issued|date:"Y/m/d" }}" />{% endif %}

