{% load custom_filters %}
{% load static from staticfiles %}
{% load humanize %}

<div class="tabbable tabs-top">
  <ul class="nav nav-tabs" id="myTab">
    <li class="active"><a href="#tab_search">Search Pages</a></li>
    <li><a href="#tab_advanced_search">Advanced Search</a></li>
    <li><a href="#tab_newspapers">All Digitized Newspapers {{search_form.fulltextStartYear}}-{{search_form.fulltextEndYear}}</a></li>
  </ul>
 
  <div class="tab-content">
    <div class="tab-pane active" id="tab_search">
        <form action="{% url 'openoni_search_pages_results' %}" method="get" name="fulltext" id="fulltext" class="form-inline">
            <div class="wrap-tabsearch">
                <!-- state -->
                {{ search_form.state}}
                <span class="plus">+</span>
                <!-- date -->
                <label for="id_date1">from</label>
                {{ search_form.date1 }} 
                <label for="id_date2">to</label>
                {{ search_form.date2 }}
                <span class="plus">+</span>
                <!-- search text field -->
                {{ search_form.proxtext }}<button type="submit" class="btn">GO</button>
                <input type="hidden" name="dateFilterType" alt="dateFilterType" value="yearRange" />
                <input type="hidden" name="rows" id="rows" alt="rows" value="20" />
                <input type="hidden" name="searchType" alt="searchType" value="basic" />
            </div>
        </form>
    </div>
    <div class="tab-pane" id="tab_advanced_search">...</div>
    <div class="tab-pane" id="tab_newspapers">...</div>
  </div>
</div> 
<script>
  $('#myTab a').click(function (e) {
    e.preventDefault();
    $(this).tab('show');
  })
  $(function () {
    $('#myTab a:first').tab('show');
  })
</script>
