{% load static from staticfiles %}
      <span class="results">Results {{ page_start }} - {{ page_end }} of {{ paginator.count }}</span>

      <span class="pagination">
        {% if page.has_previous %}
          {% if start %}
          <a class="prev" rel="prev" href="{% url 'openoni_titles_start_page' start page.previous_page_number %}">
          {% else %}
          <a class="prev" rel="prev" href="{% url 'openoni_titles_page' page.previous_page_number %}">
          {% endif %}
          <img src="{% static 'images/pag_prev_on.gif' %}" alt="prev" width="13" height="13" /></a>
        {% endif %}
      
        {% for page_number in page_range_short %}
          {% if not forloop.first %}|{% endif %}
        {% ifequal page_number "..." %}
        ...
        {% else %}
        {% ifequal page_number page.number %}
        <span class="off">{{page_number}}</span> 
        {% else %}
            {% if start %}
            <a href="{% url 'openoni_titles_start_page' start page_number %}">{{page_number}}</a>
            {% else %}
            <a href="{% url 'openoni_titles_page' page_number%}">{{page_number}}</a>
            {% endif %}
        {% endifequal %}
        {% endifequal %}
        {% endfor %}
      
        {% if page.has_next %}
          {% if start %}
          <a class="next" rel="next" href="{% url 'openoni_titles_start_page' start page.next_page_number %}">
          {% else %}
          <a class="next" rel="next" href="{% url 'openoni_titles_page' page.next_page_number %}">
          {% endif %}
          <img src="{% static 'images/pag_next_on.gif' %}" alt="next" width="13" height="13" /></a>
      {% endif %}
      </span>
      <form name="jumptopage" action="" method="GET" class="jumptopage">
        <label for="jumptopage">Jump to page:</label> 
        <input class="std" type="text" name="page" value="" size="5" />
        <input type="submit" class="submit" value="GO" />
      </form>
