#main_body,
#main_body_full {
position: static;
float:none;
}
a#skip,
#topnav,
.locshare-toolbar,
#left_nav,
#footer,
.searchnav,
#box-tabs {
display: none !important;
}
a:link,
a:visited,
a:focus,
a:hover,
a:active {
color: #036;
text-decoration: underline;
}
body {
font-size: 68.75%; /* 11px */
line-height: 1.333;
font-family: Verdana, Arial, Helvetica, sans-serif;
color: #333;
}
table, form, fieldset {
margin-bottom:1em;
}
h1 {font-family:Georgia, Verdana, Arial, Serif;font-size: 1.75em;color:#343268;}
h2 {font-size: 1.33em;margin: 0 0 0.6em 0;color:#36C;}
h3, h4, h5, h6 {color:#000;}
h3 {font-size: 1.125em;margin: 0 0 0.4em 0;}
h4 {font-size: 1em;margin: 0 0 0.2em 0;}
h5 {font-size: 1em;}
h6 {font-size: 1em;}
p, dl {margin: 0 0 1.25em 0;}
ul, ol {margin: 0 0 1.25em 0; padding-left: 2.5em;}
dt {margin: 0 0;font-weight:bold;}
dd {margin: 0.25em 0 0.5em 2.5em;}
pre, code, tt {margin: 0 0 1em 0;}
code, tt {border-bottom: 1px solid #E3E3E3; padding: 0 1px;}
pre code {border-bottom: 0;}
small {font-size: 85%;}
big {font-size: 115%;}
sup {font-size: smaller; vertical-align: 0.5em; line-height: 1px;}
table {width:100%;}
table th, table td {border:1px solid #ccc;padding:3px;}
#branding {
text-align: center;
margin: 0 auto;
}
#branding h2 {
font:bold 180%/120% verdana, helvetica, sans-serif;
margin: 0;
padding: 0;
color:#000;
}
#branding h3 {
font: bold 150%/120% verdana, helvetica, sans-serif;
margin: 0 0 1.5em 0;
padding: 0;
color:#666;
}
#results .body-results ul {
list-style:none;
padding:0;
margin:0;
}
.print_nav {
margin: 1em 0;
}
a.clip_print {
    padding: 0 5px 0 17px;
		background: transparent url(../images/i_clip_print.gif) 0 2px no-repeat;
}
a.clip_download {
    padding: 0 0 0 20px;
		background: transparent url(../images/i_clip_download.gif) 2px 2px no-repeat;
}