{% extends "site.html" %}
{% load humanize %}

{% block extra_link_types %}
<link rel="primaryTopic" href="{{ awardee.abstract_url }}" />
<link rel="alternate" type="application/rdf+xml" href="{% url chronam_awardee_dot_rdf awardee.org_code %}" />
{% endblock %}


{% block box_right %}

<br />

<table class="data" width="100%">
    <tr>
    <th>Ingested</th>
    <th>Batch Name</th>
    <th>Total Pages</th>
{% for batch in batches %}
    <tr class="{% cycle 'lightGray' 'white' %}">
    <td>{{batch.created }}</td>
    <td><a href="{% url chronam_batch batch.name %}">{{ batch.name }}</a></td>
    <td style="text-align: right">{{ batch.page_count|intcomma }}</td>
    </tr>
{% endfor %}
</table>

<br />

{% endblock %}
