{% extends "site.html" %}

{% block extra_link_types %}
<link rel="alternate" type="application/atom+xml" href="{% url chronam_batches_atom %}" tite="Atom Feed" />
<link rel="alternate" type="application/json" href="{% url chronam_batches_json %}" tite="Atom Feed" />
{% endblock %}

{% block extra_feed %}
<br />
 <img src="{{script_name}}/images/subscribe.gif" alt="" class="feed_icon" /> <a href="{% url chronam_batches_atom %}">Batches</a>
{% endblock %}

{% block box_right %}

<br />

<table class="data" width="100%">

  <tr>
    <th>Created</th>
    <th>Batch Name</th>
    <th>Awardee</th>
    <th>Total Pages</th>
    <th>Released</th>
  </tr>

{% for batch in batches %}

  <tr class="{% cycle 'lightGray' 'white' %}">
    <td>{{batch.created }}</td>
    <td><a href="{% url chronam_batch batch.name %}">{{ batch.name }}</a></td>
    <td>
        <a href="{% url chronam_awardee batch.awardee.org_code %}">
            {{ batch.awardee.name }}
        </a>
    </td>
    <td>{{ batch.page_count }}</td>
    <td>{{ batch.released|date:"F d, Y" }}</td>
  </tr>

{% endfor %}

</table>

<br />

{% endblock %}
