{% extends "site.html" %}

{% block extra_link_types %}
<link rel="alternate" type="application/atom+xml" href="{% url chronam_events_atom %}" tite="Atom Feed" />
{% endblock %}

{% block box_right %}
<br />
<table class="data">
    <tr class="lightGray">
        <td>Created</td>
        <td>{{ event.created }}</td>
    </tr>
    <tr class="white">
        <td>Batch</td>
        <td>
            {% if event.get_batch %}
            <a href="{% url chronam_batch event.batch_name %}">
                {{ event.batch_name }}
            </a>
            {% else %}
            {{ event.batch_name }}
            {% endif %}
        </td>
    </tr>
    </tr>
    <tr class="lightGray">
        <td>Message</td>
        <td>{{ event.message }}</td>
    </tr>
</table>
<br /> 

{% endblock %}
