{% extends "site.html" %}

{% block html_page_head %}
        <div class="page_head">
          <h1>{{page_title}}</h1>
        </div>
{% endblock %}

{% block extra_feed %}
{% endblock %}

{% block extra_link_types %}
    <link rel="primaryTopic" href="{{ title.abstract_url }}" />
    <link rel="resourcemap" type="application/rdf+xml" href="{% url chronam_title_dot_rdf title.lccn %}" />
    <link rel="alternate" type="application/atom+xml" href="{% url chronam_title_atom title.lccn %}" />
    <link rel="alternate" type="application/marc+xml" href="{% url chronam_title_marcxml title.lccn %}" />
{% endblock %}

{% block content %}
      <div id="newspaper">
        <div id="box_right">
            <div id="searchnav">
              <a href="{% url chronam_title title.lccn %}">About this Newspaper</a> |
              <a href="{% url chronam_title_holdings title.lccn %}">Libraries that Have It</a> |
              {% if title.has_issues %}
              <a href="{% url chronam_issues title.lccn %}">Browse Issues</a> |
              {% endif %}
              <a href="{% url chronam_title_marc title.lccn %}">MARC Record</a>
              {% if title.has_essays %} |
              <a href="{% url chronam_title_essays title.lccn %}">More About this Newspaper</a>
              {% endif %}
              {% block extra_nav %}
              {% endblock %}
            </div>
{% block newspaper_content %}
{% endblock %}

        </div>
      </div>
{% endblock %}

