{% extends "site.html" %}

{% block more_style %}
<style type="text/css">
    @import url({{script_name}}/css/api.css);
</style>
{% endblock %}

{% block body_id %}chronam_about_api{% endblock %}

{% block box_right %}

<h2>Introduction</h2>

<p>
Chronicling America provides access to information about historic
newspapers and select digitized newspaper pages.  To encourage a wide
range of potential uses, we designed several different views of the
data we provide, all of which are publicly visible.  Each uses common
Web protocols, and access is not restricted in any way.  You do not
need to apply for a special key to use them.  Together they make up an
extensive application programming interface (API) which you can use to
explore all of our data in many ways.
</p>

<p>
Details about these interfaces are below.  In case you want to dive
right in, though, we use HTML link conventions to advertise the
availability of these views.  If you are a software developer
or researcher or anyone else who might be interested in programmatic
access to the data in Chronicling America, we encourage you to look
around the site, "view source" often, and follow where the
different links take you to get started.
</p>

<p>
For more information about the technical underpinnings of the
Chronicling America program, see <a 
href="http://www.loc.gov/ndnp/">www.loc.gov/ndnp/</a>.
</p>

<p>
Please <a 
href="http://www.loc.gov/rr/askalib/ask-news.html">contact us</a> 
if you have any questions or concerns.  
</p>


<h2>The API</h2>

<p>
<a href="#search">Search</a> the newspaper directory 
and digitized page contents using OpenSearch.
</p>

<p>
<a href="#link">Link</a> using our stable URL pattern for titles, 
issues, editions, and pages.
</p>

<p>
<a href="#awardees">Awardee Data Deliveries</a>
are available to the public in raw and summary form.
</p>

<p>
<a href="#linked-data">Linked Data</a> views of information 
about titles, batches, issues, and pages in RDF/XML.
</p>

<p>
<a href="#aggregations">Aggregations</a> of items, like all 
the pages that make one issue, are related using OAI-ORE.
</p>



<a name="search"></a>
<h2>Searching the directory and newspaper pages using OpenSearch</h2>

<p>
The <a href="/search/titles/">directory of
newspaper titles</a> contains nearly 140,000 records of newspapers and
libraries that hold copies of these newspapers. The title records are based
on MARC data gathered and enhanced as part of the NDNP program.
</p>

<p>
Searching the title records is possible using the <a class="external"
href="http://opensearch.org/">OpenSearch protocol</a>. This
is advertised in a LINK header element of the site's HTML
template as "NDNP Title Search", using <a 
href="/search/titles/opensearch.xml">this
OpenSearch Description document</a>.
</p>


<p>
Title search parameters:
</p>

<ul>
<li>terms: the search query</li>
<li>format: 'html' (default), 'json', or 'atom' (optional)</li>
<li>page: for paging results (optional)</li>
</ul>

<p>Examples:</p>

<p>
Note that all example URLs below use the same protocol and server name,
<a
href="/">http://chroniclingamerica.loc.gov/</a>.
We only show the URL paths and parameters below to save space.
</p>

<ul>

<li>
<a href="/search/titles/results/?terms=michigan">/search/titles/results/?terms=michigan</a> 
<br />
search for "michigan", HTML response
</li>

<li>
<a href="/search/titles/results/?terms=michigan&format=atom">/search/titles/results/?terms=michigan&amp;format=atom</a>
<br />
search for "michigan", Atom response
</li>

<li>
<a href="/search/titles/results/?terms=michigan&format=json&page=5">/search/titles/results/?terms=michigan&amp;format=json&amp;page=5</a>
<br />
search for "michigan", JSON response, starting at page 5
</li>

</ul>


<p>
There are more than a million <a
href="/search/pages/"> digitized
newspaper pages</a> in Chronicling America.  These pages span
several decades and many U.S. states and territories.  New batches of
data come in from partner institutions throughout the year and are
added to the site regularly.
</p>

<p>
Searching newspaper pages is also possible via OpenSearch. This is
advertised in a LINK header element of the site's HTML template as
"NDNP Page Search", using <a
href="/search/pages/opensearch.xml">this
OpenSearch Description document</a>.
</p>

<p>
Page search parameters:
</p>

<ul>
<li>
andtext: the search query
</li>
<li>
format: 'html' (default), or 'json', or 'atom' (optional)
</li>
<li>
page: for paging results (optional)
</li>
</ul>


<p>Examples:</p>

<ul>
<li>
<a href="/search/pages/results/?andtext=summers">/search/pages/results/?andtext=summers</a>
<br />
search for "summers", HTML response
</li>

<li>
<a href="/search/pages/results/?andtext=summers&format=atom">/search/pages/results/?andtext=summers&amp;format=atom</a>
<br />
search for "summers", Atom response
</li>

<li>
<a href="/search/pages/results/?andtext=summers&format=atom&page=11">/search/pages/results/?andtext=summers&amp;format=atom&amp;page=11</a>
<br />
search for "summers", Atom response, starting at page 11
</li>
</ul>




<a name="link"></a>
<h2>Link to titles, issues, editions, and pages</h2>

<p>
The Chronicling America Web site uses links that follow a
straightforward pattern.  You can use this pattern to construct links
into specific newspaper titles, to any of its available issues and
their editions, and even to specific pages.  These links can be readily
bookmarked and shared on other sites.
</p>

<p>
We are committed to supporting this link pattern over time, so even if we change
how the site works, we will redirect any requests to the system using
this specific pattern into the new site.  We established redirect rules
for links into the previous version of the site when we released a new
version in early 2009, and we intend to sustain those rules.
</p>

<p>
The link pattern uses <a
href="http://www.loc.gov/marc/lccn.html">LCCNs</a>, dates, issue
numbers, edition numbers, and page sequence numbers.
</p>

<p>Examples:</p>

<ul>

<li><a href="/lccn/sn86069873/">/lccn/sn86069873/</a>
<br />
title information for LCCN sn 86069873
</li>

<li><a href="/lccn/sn86069873/issues/">/lccn/sn86069873/issues/</a>
<br />
calendar view of available issues
</li>

<li><a href="/lccn/sn86069873/issues/first_pages/">/lccn/sn86069873/issues/first_pages/</a>
<br />
browse first pages of available issues
</li>

<li><a href="/lccn/sn86069873/1900-01-05/ed-1/">/lccn/sn86069873/1900-01-05/ed-1/</a>
<br />
first available edition from January 5, 1900
</li>

<li><a href="/lccn/sn86069873/1900-01-05/ed-1/seq-3/">/lccn/sn86069873/1900-01-05/ed-1/seq-3/</a>
<br />
third available page from first edition, January 5, 1900
</li>

</ul>

<a name="awardees"></a>
<h2>Awardee Data Deliveries</h2>

<p>
<a href="/awardees">Awardees</a> are the organizations that deliver batches
of digitized newspaper pages to the Library of Congress.  A
<a href="/batches/">batch</a> consists of a unit of work, usually several
thousand pages, which is made available via the website, in raw form, and
via the search engine.
</p>
<a name="linked-data"></a>
<h2>Linked Data</h2>

<p>

<a href="http://linkeddata.org/">Linked Data</a> allows us to connect the
information in Chronicling America directly to related data on the Web 
explicitly.  Chronicling America provides several Linked Data views to
make it easy to connect with other information resources and to process
and analyze newspaper information with conceptual precision.

</p>

<p> 

We use concepts like Title (defined in <a class="external"
href="http://dublincore.org/documents/dcmi-terms/">DCMI Metadata
Terms</a>) and Issue (defined in <a class="external"
href="http://bibliontology.com/">the Bibliographic Ontology</a>) to
describe newspaper titles and issues available in the data.  Using
these concepts, defined in existing ontologies, can help to ensure that
what we mean by "title" and "issue" is consistent with the intent of other
publishers of linked data.  We also define other concepts not
already defined in existing ontologies. This
vocabulary includes elements suitable for newspaper information
and the NDNP program, including these elements:

</p>

<ul>
<li>Awardee</li>
<li>Batch</li>
<li>Page</li>
<li>bag</li>
<li>number</li>
<li>section</li>
<li>sequence</li>
</ul>

<p>

These elements are used in RDF views of several types of pages, ranging
from a list of the newspaper titles available on the site and
information about each, to enumerations of all the pages that make
up each issue and all of the files available for each page.

</p>

<p>
Examples:
</p>


<ul>

<li>
<a href="/lccn/sn85038615.rdf">/lccn/sn85038615.rdf</a>
<br />
information about <a href="/lccn/sn85038615/">The Times Dispatch</a> (Richmond, Va.) 1903-1914
</li>

<li>
<a href="/lccn/sn83045555/1889-11-21/ed-1.rdf">/lccn/sn83045555/1889-11-21/ed-1.rdf</a>
<br />
information about <a href="/lccn/sn83045555/1889-11-21/ed-1/">the November 21, 1889 first edition issue</a> of Deseret Evening News (Great Salt Lake City [Utah])
</li>

<li>
<a href="/lccn/sn83030214/1905-01-15/ed-1/seq-25.rdf">/lccn/sn83030214/1905-01-15/ed-1/seq-25.rdf</a>
<br />
details about all of the files associated with the <a href="/lccn/sn83030214/1905-01-15/ed-1/seq-25/">25th image of the January 15, 1905 issue</a> of New-York Tribune (New York [N.Y.]) 1886-1924
</li>

<li>
<a href="/awardees/mohi.rdf">/awardees/mohi.rdf</a>
<br />
information about <a href="/awardees/mohi/">awardee State Historical Society of Missouri</a>
</li>

<li>
<a href="/newspapers.rdf">/newspapers.rdf</a>
<br />
list of <a href="/newspapers/">available newspaper titles</a>
</li>

</ul>


<p>
Comparing the RDF versions of the links above with their HTML
counterpart links, you might notice that the URI pattern we follow for these
views is to remove the final slash, replacing it with ".rdf".
We follow this pattern to comply with best practices for publishing
linked data, and also to keep the URIs easy to understand and use.
</p>

<p>
For each of the HTML pages with a linked data counterpart in RDF,
we provide links to those alternate views from the
HTML page using the LINK header element.  This can support automating
the process of using the RDF data in tools like bookmarklets,
plugins, and scripts, and it also helps us to advertise the
availability of the additional views.  In many views, such as newspaper
page images, we also provide LINK elements pointing to the various
available files (image, text, OCR coordinate XML) for each available
page or other potentially useful information.  We encourage you to
explore the entire site and to look for and use these LINK elements 
if you find them useful when working with NDNP data.  Just follow your nose, 
and view the source.
</p>

<p>
In addition to the concepts describe above, we use concepts from
several other vocabularies in describing NDNP materials and also in
linking to related data available on other sites.  These additional
vocabularies and external sites include:
</p>


<ul>

<li><a class="external" href="http://dbpedia.org/">DBpedia</a></li>

<li><a class="external" href="http://purl.org/dc/elements/1.1/">Dublin Core</a> and 
<a class="external" href="http://dublincore.org/documents/dcmi-terms/">DCMI Terms</a></li>

<li><a class="external" href="http://purl.org/vocab/frbr/core#">FRBR concepts in RDF</a></li>

<li><a class="external" href="http://sws.geonames.org/">GeoNames</a></li>

<li><a href="http://lccn.loc.gov/">LCCN Permalink</a></li>

<li><a class="external" href="http://www.lingvoj.org/">lingvoj.org</a></li>

<li><a class="external" href="http://www.openarchives.org/ore/">OAI-ORE</a> (more about aggregations below)</li>

<li><a class="external" href="http://www.w3.org/2002/07/owl#">OWL</a></li>

<li><a class="external" href="http://metadataregistry.org/schema/show/id/1.html">RDA</a></li>

<li><a class="external" href="http://www.worldcat.org/">WorldCat</a></li>

</ul>


<p>
We are grateful to all of these providers and we hope we can follow
their lead in encouraging additional connections between data and
vocabulary providers.  Please be aware that how we use these vocabularies
will likely change over time, as they continue to develop, and as new 
vocabularies are introduced.
</p>



<a name="aggregations"></a>
<h2>Aggregations</h2>

<p>
The <a class="external" href="http://www.openarchives.org/ore/">OAI-ORE specification</a>
allows us to define aggregations of resources (pages) on our site that
go together as a single unit.  For example, we use the OAI-ORE vocabulary to 
link Page resource to the the JPEG2000, PDF, and OCR files that make them up.
Batch, Title and Issue resources are related to Pages using the OAI-ORE 
vocabluary. You can "view source" on Title, Issue, Page and Batch HTML views, 
and see that the referenced RDF/XML file is auto-discoverable in a link element as an OAI-ORE Resource Map.
</p>



<p style='text-align:right;'>
<a href="http://www.loc.gov/global/disclaim.html" alt="External link disclaimer"> <img src="{{script_name}}/images/external-link-disclaimer.gif" /></a>
</p>

{% endblock %}



