{% extends "site.html" %}

{% block extra_link_types %}
  {% if page.has_previous %}
  <link rel="prev" href="{% url chronam_county_page_number state, county, page.previous_page_number %}" />
  {% endif %}
  {% if page.has_next %}
  <link rel="next" href="{% url chronam_county_page_number state, county, page.next_page_number %}" />
  {% endif %}

{% endblock %}

{% block box_right %}

{% ifnotequal paginator.num_pages 1 %}
<div id="searchnav">
<div class="pageNavigator">
  <img src="{{script_name}}/images/arrow_bl.gif" width="9" height="9" alt=""/> 
  {% if page.has_previous %}
  <a rel="prev" href="{% url chronam_county_page_number state, county, page.previous_page_number %}">Previous</a>
  {% else %}
  Previous
  {% endif %}
  | 
  {% for page_number in page_range_short %}
  {% ifequal page_number "..." %}
  ...
  {% else %}

  {% ifequal page_number page.number %}
  <span class="off">{{page_number}}</span> 
  {% else %}
  <a href="{% url chronam_county_page_number state, county, page_number %}">{{page_number}}</a> 
  {% endifequal %}
  {% endifequal %}
  {% endfor %}
  | 
  {% if page.has_next %}
      <a rel="next" href="{% url chronam_county_page_number state, county, page.next_page_number %}">Next</a> 
  {% else %}
    <span class="off">Next</span> 
  {% endif %}
  <img src="{{script_name}}/images/arrow.gif" width="9" height="9" alt=""/> 
  <br/>
</div>
</div>
{% endifnotequal %}

<div id="search_results_box">
  <div id="search_results_content">
      <table class="data" width="100%">
      {% for title in page.object_list %}
        <tr class="{% cycle 'lightGray' 'white' %}">
            <td>
                <a href="{% url chronam_title title.lccn %}">{{title}}</a>
                {% if title.has_non_english_language %}
                <br />
                Languages:
                {{ title.languages.all|join:", " }}
                {% endif %}
            </td>
        </tr>
      {% endfor %}
      </table>
  </div>
</div>

{% endblock %}
