{% extends "site.html" %}

{% block extra_link_types %}
<link rel="alternate" type="application/atom+xml" href="{% url chronam_events_atom %}" tite="Atom Feed" />
{% endblock %}

{% block box_right %}

<table class="data">

   <tr>
    <th>Time</th>
    <th>Batch Name</th>
    <th>Message</th>
  </tr>

{% for event in events %}
  <tr class="{% cycle 'lightGray' 'white' %}">
    <td>{{ event.created }}</td>
    <td>
        {% if event.get_batch %}
        <a href="{% url chronam_batch event.batch_name %}">
            {{ event.batch_name }}
        </a>
        {% else %}
            {{ event.batch_name }}
        {% endif %}
    </td>
    <td>{{ event.message }}</td>
  </tr>
{% endfor %}

</table>

{% endblock %}
