{% extends "newspaper.html" %}

{% block newspaper_content %}

  {% if not holdings %}

      <p>No summary holding information available.</p>

  {% endif %}

  {% for holding in holdings %}
      <br/>

      {% if holding.is_summary %}

      <hr/>
      <h3>SUMMARY HOLDING: {{holding.institution.name}}, {{holding.institution.city}}, {{holding.institution.state}}</h3>
      <p>
        <img src="{{script_name}}/images/arrow.gif" width="9" height="9" alt=""/>
        <a href="{% url chronam_institution_titles holding.institution.code.lower %}" shape="rect">View more titles from this institution</a>
      </p>
      <h4 class="holding">Dates Available:</h4>
      <ul class="holding">
          {% for description in holding.description_as_list %}
            <li>{{ description }}</li>
          {% endfor %}
      </ul>
      <p class="holding">Last updated: {{ holding.last_updated }}</p>

      {% else %}

      <h4 class="holding">Available as: {{ holding.type }}</h4>
      <p class="holding">Dates:</p>
      <ul class="holding">
          {% for description in holding.description_as_list %}
            <li>{{ description }}</li>
          {% endfor %}
      </ul>
      <p class="holding">Last updated: {{ holding.last_updated }}</p>

      {% endif %}

  {% endfor %}

{% endblock %}
