{% extends "site.html" %}

{% load custom_filters %}

{% block extra_feed %}
{% endblock %}

{% block box_right %}

            <p>These historic newspapers are available to read online in Chronicling America at the Library of Congress.</p>

            <table>
                <tr>
                    <td id="downloadChart">
                        <img src="{{script_name}}/images/gt.gif" height="13" width="13" alt="&gt;"/> <a href="{% url chronam_newspapers_format 'txt' %}">Download this chart</a> (also includes LCCN,ISSN)
                    </td>
                    <td id="totalPageCount">
                        Pages currently available: {{number_of_pages}}
                    </td>
                </tr>
            </table>

            <p>
              {% for state in states %}
              <a href="#{{state}}">{{state}}</a> {% ifequal forloop.last 0 %} | {% endifequal %}
              {% endfor %}
            </p>

            <table class="data" border="0" width="100%">
                <tr>
                    <th>State</th>
                    <th>Newspaper</th>
                    <th>Browse Issues</th>
                    <th>Earliest Issue</th>
                    <th>Latest Issue</th>
                    <th>More Info</th>
                </tr>
                {% for title in titles %}
                  {% with title.country.name as country_name %}
                  {% with title.lccn as lccn %}
                  {% with title.first_issue as first_issue %}
                  {% with title.last_issue as last_issue %}
                  {% with first_issue.date_issued as first_issue_date_issued %}
                  {% with last_issue.date_issued as last_issue_date_issued %}
                <tr class="{% cycle 'lightGray' 'white' %}">
                    <td><a {% ifchanged country_name %}name="{{country_name}}" {% endifchanged %}href="{% url chronam_newspapers_state country_name|pack_url %}">{{country_name}}</a></td>
                    <td><a href="{% url chronam_title lccn %}">{{title}}</a></td>
                    <td><a href="{% url chronam_issues lccn %}" shape="rect"><img src="{{script_name}}/images/calendar_icon.gif" alt="calendar"/></a></td>
                    <td><a href="{% url chronam_issue_pages lccn,first_issue_date_issued,first_issue.edition %}">{{first_issue_date_issued}}</a></td>
                    <td><a href="{% url chronam_issue_pages lccn,last_issue_date_issued,last_issue.edition %}">{{last_issue_date_issued}}</a></td>
                    <td>{% if title.has_essays %}<a href="{% url chronam_title_essays lccn %}">Yes</a>{% endif %}</td>
                </tr>
                  {% endwith %}
                  {% endwith %}
                  {% endwith %}
                  {% endwith %}
                  {% endwith %}
                  {% endwith %}
                {% endfor %}
            </table>
            <div id="backToTop">
                <img src="{{script_name}}/images/gt.gif" height="13" width="13" alt="&gt;"/> 
                <a href="{% url chronam_newspapers_format 'txt' %}">Download this chart</a>
                <br/>
                <br/>
                &nbsp;<a href="#top">Back to top</a>
            </div>

{% endblock %}

    



