<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:og="http://opengraphprotocol.org/schema/">
    {% if profile_uri %}
    <head profile="{{ profile_uri }}">
    {% else %}
    <head>
    {% endif %}
    <title>{% if page_title %}{{page_title}} - {% endif %}Chronicling America - The Library of Congress</title>
    <link href="{{script_name}}/images/fav.ico" rel="shortcut icon"/>
    <link title="NDNP Page Search" href="{% url chronam_search_pages_opensearch %}" rel="search" type="application/opensearchdescription+xml" />
    <link title="NDNP Title Search" href="{% url chronam_search_titles_opensearch %}" rel="search" type="application/opensearchdescription+xml" />
    <link rel="alternate" type="application/rss+xml" title="News about Chronicling America - RSS Feed" href="http://www.loc.gov/rss/ndnp/ndnp.xml" />
    <meta http-equiv="Content-Language" content="en-us" />
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <style type="text/css">
      @import url({{script_name}}/css/global.css);
    </style>
    <link rel="stylesheet" type="text/css" media="print" href="{{script_name}}/css/AC_print_ss.css" />
    {% block extra_link_types %}{% endblock %}
    {% block more_style %}{% endblock %}
  </head>
{% block body %}
  <body id="{% block body_id %}chronam_standard{% endblock %}">
    <div><a id="skip" href="#page_head">skip to content</a></div>
    <div id="container">
      <div id="topnav">
        <ul id="menu">
          <li id="loc_logo" title="The Library of Congress"><a href="http://www.loc.gov/"><img src="{{script_name}}/images/loc_logo.gif" alt="The Library of Congress"/></a></li>
          <li id="NEH_logo" title="National Endowment for the Humanities"><a href="http://www.neh.gov/"><img src="{{script_name}}/images/NEH_logo.gif" alt="National Endowment for the Humanities"/></a></li>
        </ul>
      </div>
      <div id="crumb">
        <a href="http://www.loc.gov/" shape="rect">The Library of Congress</a>
        &gt; <a href="{{script_name}}/">Chronicling America</a>

        {% for crumb in crumbs %}
        &gt; <a href="{{crumb.href}}">{{crumb.label}}</a>
        {% endfor %}

        {% if page_title %}
        &gt; {{page_title}}
        {% endif %}
      </div>
      <div id="content">
        {% block box_left %}
        <div id="box_left">
          <ul>
            <li 
               {% url chronam_home as chronam_home_url %}
               {% ifequal request.path chronam_home_url %}id="on"{% endifequal %}
               ><a href="{{script_name}}/">Chronicling America Home</a>
            </li>

            <li
               {% url chronam_newspapers as chronam_newspapers_url %}
               {% ifequal request.path chronam_newspapers_url %}id="on"{% endifequal %}>
              <a href="{{chronam_newspapers_url}}">See All Available Newspapers</a>
            </li>
            
            <li
               {% url chronam_search_pages as url %}
               {% ifequal request.path url %}id="on"{% endifequal %}
               ><a href="{{ url }}">Search Newspaper Pages</a>
            </li>

            <li
               {% url chronam_search_titles as url %}
               {% ifequal request.path url %}id="on"{% endifequal %}
               ><a href="{{ url }}">Search Newspaper Directory</a>
            </li>

            <li
               {% url chronam_about as url %}
               {% ifequal request.path url %}id="on"{% endifequal %}
               ><a href="{{ url }}">About Chronicling America</a>
            </li>

            <li
                {% url chronam_about_api as url %}
                {% ifequal request.path url %}id="on"{% endifequal %}
                ><a href="http://www.loc.gov/ndnp/">Technical</a>
                - <a href="{{ url }}">API</a></li>
            <li><a href="http://loc.gov/ndnp/listawardees.html">Awardees</a></li>
            <li
               {% url chronam_help as url %}
               {% ifequal request.path url %}id="on"{% endifequal %}
               ><a href="{{ url }}">Help</a>
            </li>
            <li><a href="http://www.loc.gov/rr/askalib/ask-news.html">Ask a Librarian</a></li>
	  </ul>		
	  <img src="{{script_name}}/images/we_NEH.gif" alt="We the People - National Endowment for the Humanities" width="196" height="97" />        
          <p class="note">
            The <a href="http://www.neh.gov/">U.S. National Endowment for the Humanities</a> is dedicated to supporting research, education, preservation, and public programs in the humanities.
          </p>
	  <div id="rss">
              <img src="{{script_name}}/images/subscribe.gif" alt="" class="feed_icon"/> <a href="http://www.loc.gov/rss/ndnp/ndnp.xml">RSS</a> 
              <img src="{{script_name}}/images/locmail.gif" alt="" width="16" height="11" id="email" /> <a href="http://service.govdelivery.com/service/multi_subscribe.html?code=USLOC&amp;origin=http://www.loc.gov">Email Updates</a>
              {% block extra_feed %}
              {% endblock %}
	  </div>
        </div>
        {% endblock %}
  
        {% block html_page_head %}
        <div class="page_head" id="page_head">
          <h1>{{page_title}}</h1>
        </div>
        {% endblock %}

        {% block content %}
        <div id="box_right">
          {% block box_right %}{% endblock %}
        </div>
        {% endblock %}
      </div>
      <div id="footer">
        <a href="http://www.loc.gov/">The Library of Congress</a> | 
	<a href="http://www.neh.gov/">National Endowment for the Humanities</a> | 
	<a href="http://www.loc.gov/homepage/legal.html">Legal</a>
        {% block disclaimer %} {% endblock %}
      </div>
    </div>
    <div id="omni">
      <input type="hidden" id="eVar4" value="{{image_credit}}" />
      <input type="hidden" id="prop13" value="{{image_credit}}" />
    </div>
    <script language="javascript" type="text/javascript" src="http://loc.gov/global/onlineopinionF3cS/oo_engine.js" xml:space="preserve"></script>
    <script language="javascript" type="text/javascript" src="/javascript/oo_conf_en-US.js" xml:space="preserve"></script>
    <script type="text/javascript" src="{{omniture_url}}" xml:space="preserve"></script>
  </body>
{% endblock %}
</html>
