{% extends "site.html" %}

{% load static from staticfiles %}
{% load humanize %}
{% load custom_tags %}

{% block head_content %}
    {{ block.super }}
    {% block lc_metadata %}{% endblock lc_metadata %}
    <link href="{% static 'img-std/fav.ico' %}" rel="shortcut icon"/>
    <link title="NDNP Page Search" href="{% url 'chronam_search_pages_opensearch' %}"
          rel="search" type="application/opensearchdescription+xml" />
    <link title="NDNP Title Search" href="{% url 'chronam_search_titles_opensearch' %}"
          rel="search" type="application/opensearchdescription+xml" />
    <link rel="alternate" type="application/rss+xml" title="News about Chronicling America - RSS Feed" 
          href="http://www.loc.gov/rss/ndnp/ndnp.xml" />
    <meta http-equiv="Content-Language" content="en-us" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link type="text/css" rel="stylesheet" href="{% static 'base.css' %}" />
    <link type="text/css" rel="stylesheet"
          href="{% static 'jquery-ui.css' %}" />
    <link type="text/css" rel="styelsheet" href="{% static 'ui_carousel.css' %}" />
    {% block extrahead %}{% endblock extrahead %}
{% endblock head_content %}

<!-- Content -->
{% block content %}
<div id="main_body">
  {% block top_branding %}
  {{ block.super }}
  {% endblock top_branding %}

    {% block main_body %}
    {% block box-tabs %}
    <div id="tabs-container" {% if collapse_search_tab %}class="collapsed"{% endif %}></div>
    {% endblock box-tabs %}
    <div class="sharetool_container">
        {% block sharetool_container_left %}
	    <p>Pages Available: {{ total_page_count|intcomma }}</p>
	    {% endblock sharetool_container_left %}
        <!-- Toolbar -->
        <div class="locshare-this" id='instance_id1001' style='display:none'>
            {% block locshare-code %}
            <code>{
                  title: '{{ page_title }}',
                  download_links: [
                  {
                   link: 'http://www.loc.gov/rss/ndnp/ndnp.xml',
                   label: 'application/rss+xml',
                   meta: 'News about Chronicling America - RSS Feed',
                  },
                  {% block download_links %}
                  {% endblock download_links %}
                  ]
                }
            </code>
            {% endblock locshare-code %}
        </div><!-- end id:instance_id1001 -->
        <div class="clear-share"><!-- --></div>
    </div>
    {% block page_head_container %}
    <div id="page_head">
        {% block page_head %}
        <h1 class="oneline">
            {{ page_title }}
        </h1>
        {% endblock page_head%}   
    </div><!-- end id:page_head -->
    {% endblock page_head_container %}

    {% block left_bits %}
    {% endblock left_bits %}

    {% block main %}
    <div id="main"><span style="width: 100%;"><a name="skip_menu"></a></span>
        {% block sub_page_head %}
        {% endblock sub_page_head %}

        {% block main_content %}
        {% endblock main_content %}
    </div>
    {% endblock main %}
          
    {% block non_main_content %}
    <div class="clear"><!-- --></div>
    {% endblock non_main_content %}

    {% block subcontent %}
    {% endblock subcontent %}

{% endblock main_body %}
</div><!-- end id:main_body -->

<div id="omni">
    <input type="hidden" id="eVar4" value="{{image_credit}}" />
    <input type="hidden" id="prop13" value="{{image_credit}}" />
</div>

{% endblock content %}
<!-- END Content -->

{% block javascript %}
{{ block.super }}
<script src="{% static 'js/jquery-ui.js' %}" ></script>

<script type="text/javascript">

jQuery(function ($) {
    var searchString = window.location.search.substring(1);
    if (searchString) {
        tab_url = '/tabs?' + searchString;
    } else {
        tab_url = '/tabs';
    }
    $('#tabs-container').load(tab_url, function() {
        $("#tabs-container").trigger('chronam.tabsloaded', {});
    });
});
</script>

<script type="text/javascript" src="{% static 'js/jquery.ba-bbq.min.js' %}"></script> 
<script type="text/javascript" src="{% static 'js/main.js' %}"></script>

{% if sharetool_url %}
<!-- Toolbar -->
<script type="text/javascript" src="{{ sharetool_url }}"></script>
{% endif %}

{% endblock javascript %}
