{% spaceless %}
{% load static from staticfiles %}
{% url 'chronam_page' title.lccn page.issue.date_issued page.issue.edition page.sequence as url %}
{% endspaceless %}<!DOCTYPE html>
<html>
    <head>
        <title>Chronicling America - The Library of Congress</title>
        <link rel="stylesheet" href="{% static 'css/ca_print.css' %}" />
        <link rel="canonical" href="https://{{host}}{{url}}" />
    </head>
    <body id="chronam_page_print">
        <div id="head_nav">
            <h1>{{ page_title }}</h1>
            <h3>Image provided by {{ issue.batch.awardee.name }}</h3>
            <h3 class="">Persistent link: <a href="{{ url }}">https://{{ host }}{{ url }}</a></h3>
            <p class="print_nav">
                <a class="clip_print" href="javascript:window.print();">
                    <strong>Print this image</strong>
                </a>
                |
                <a class="clip_download" download href="{{ download_url }}">
                    <strong>
                        Download this image
                    </strong>
                </a>
            </p>
        </div>
        <p>
            <img src="{{ image_url }}">
        </p>
        <div id="omni">
            <input type="hidden" id="eVar4" value="{{ image_credit }}" />
            <input type="hidden" id="prop13" value="{{ image_credit }}" />
            </div>
    </body>
    <script src="{{ omniture_url }}"></script>
</html>
