{% extends "site_base.html" %}

{% block left_bits %}
  <div id="left_nav">
  <div class="box leftnavimg">Chronicling America</div>
  <div class="box">
    <ul class="bold arrow_o">
      <li><a href="{% url 'chronam_about' %}">About Chronicling America</a></li>
      <li><a href="{% url 'chronam_about_api' %}">About the Site and API</a></li>
      <li><a href="{% url 'recommended_topics' %}">Recommended Topics</a></li>
      <li><a href="{% url 'chronam_help' %}">Help</a></li>
    </ul>
  </div>
  <div class="box">
    <h2>More Resources</h2>
    <ul class="std fullmargin">
      <li><a href="http://www.loc.gov/ndnp/">National Digital Newspaper Program</a></li>
      <li><a href="http://www.loc.gov/ndnp/listawardees.html">NDNP Award Recipients</a></li>
      <li><a href="http://www.loc.gov/rr/news/">Newspaper and Current Periodicals Reading Room</a></li>
      <li><a href="http://www.loc.gov/rr/askalib/ask-news.html">Ask LC Newspaper &amp; Current Periodicals Librarian</a></li>
      <li><a href="http://www.flickr.com/photos/library_of_congress/collections/72157619370519453/" class="external">Historic Newspapers on Flickr<span> external link</span></a><br />(part of the LC Flickr Commons photostream)</li>
    </ul>
  </div>
  </div><!-- end id:left_nav -->
{% endblock left_bits %}

{% block page_head_container %}
{% endblock %}

{% block sub_page_head %}
<div id="page_head" class="_col">
<h1 class="oneline">
    {{ page_title }}
</h1>
</div><!-- end id:page_head -->
{% endblock %}

{% block subcontent %}
{% endblock subcontent %}

{% block non_main_content %}
{% endblock %}
