{% extends "site_base_alt.html" %}

{% block sub_page_head %}
<h1 class="oneline">Unexpected Error</h1>
{% endblock %}

{% block box-tabs %}
{% endblock %}

{% block subcontent %}
<div id="box_right">
    <div style="margin: 10px;">
    Chronicling America has encountered an unexpected error while
    processing your request. The details of this error have been
    logged, and our troubleshooting specialists will be notified. We
    apologize for any inconvenience.
    </div>
</div>
{% endblock %}
