<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:og="http://opengraphprotocol.org/schema/" class="no-js">
    {% load memorious %}
    {% load humanize %}
    {% load custom_tags %}
    {% if profile_uri %}
    <head profile="{{ profile_uri }}">
    {% else %}
    <head>
    {% endif %}
        <title>{% if page_title %}{{page_title}} - {% endif %}Chronicling America (The Library of Congress)</title>
        {% block lc_metadata %}{% endblock %}
        <link href="{% memorious 'media/img-std/fav.ico' %}" rel="shortcut icon"/>
        <link title="NDNP Page Search" href="{% url chronam_search_pages_opensearch %}" rel="search" type="application/opensearchdescription+xml" />
        <link title="NDNP Title Search" href="{% url chronam_search_titles_opensearch %}" rel="search" type="application/opensearchdescription+xml" />
        <link rel="alternate" type="application/rss+xml" title="News about Chronicling America - RSS Feed" href="http://www.loc.gov/rss/ndnp/ndnp.xml" />
        <meta http-equiv="Content-Language" content="en-us" />
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <link type="text/css" rel="stylesheet"
              href="{% memorious 'media/jquery-ui.css&ui_carousel.css&base.css' %}" />
        <link type="text/css" rel="stylesheet"
            href="http://cdn.loc.gov/css/lochead.css" />
        <link type="text/css" rel="stylesheet"
            href="http://cdn.loc.gov/css/locfoot.css" />    

        <!--[if lte IE 7]><link type="text/css" media="screen" rel="stylesheet" href="{% block stylesheet_ie %}{% memorious 'media/css/ca_ie.css' %}"{% endblock %} /><![endif]-->
        <script type="text/javascript" src="{% memorious 'media/js/script.js' %}"></script>

        {% block extrahead %}{% endblock %}
    </head>
    <body {% if page_name %}id="{{page_name}}_page"{% endif %}>
    {% block body %}
        <!-- Container -->
        <div id="container">
            <a id="skip" href="#skip_menu">skip navigation</a>      
            <div id="branding">
                {% block branding %}
                <h2>The Library of Congress</h2>
                <h3>Chronicling America: Historic American Newspapers</h3>
                {% endblock %}
            </div><!-- end id:branding --> 

            {% block topnav %}
            {% get_ext_url "http://cdn.loc.gov/html/lochead.html" %}
            {% endblock %}

            {% block breadcrumbs %}
            <div id="crumb_nav">
                <a href="http://www.loc.gov/">The Library of Congress</a><span> &gt; </span>
                <a href="{% url chronam_home %}">Chronicling America</a>
                {% for crumb in crumbs %}
                <span> &gt; </span><a href="{{crumb.href}}">{{crumb.label}}</a>
                {% endfor %}
                <!--{% if page_title %}<span> &gt; </span>{{page_title}}{% endif %}-->
            </div> 
            {% endblock %} 
            
            <!-- Content -->
            <div id="content">
                <div id="main_body">
                    <div id="top_branding">
                        <div class="neh_logo"><a href="http://www.neh.gov"><img src="{% memorious 'media/images/logo_neh.png' %}" width="186" height="46" alt="National Endowment for the Humanities" /></a></div>
                        <div class="chron_logo"><a href="{% url chronam_home %}"><img src="{% memorious 'media/images/logo_chron_top.png' %}" width="179" height="31" alt="" /></a></div>
                        <div class="neh_txt">
                            <p>Search America's historic newspapers pages from {{search_form.fulltextStartYear}}-{{search_form.fulltextEndYear}} or use the U.S. Newspaper Directory to find information about American newspapers published between 1690-present. Chronicling America is sponsored jointly by the <a href="http://www.neh.gov" class="external">National Endowment for the Humanities<span> external link</span></a> and the Library of Congress. <a href="{% url chronam_about %}" class="ar-more-gray">Learn more</a></p>
                        </div>
                  </div><!-- end id:neh_branding -->
                  <div class="clear"><!-- --></div>
                  {% block main_body %}
                    {% block box-tabs %}
                    {% include "includes/tabs.html"%}
                    {% endblock %}
                  <div class="sharetool_container">
                    {% block sharetool_container_left %}
		            <p>Pages Available: {{ total_page_count|intcomma }}</p>
		            {% endblock %}
                    <!-- Toolbar -->
                    <div class="locshare-this" id='instance_id1001' style='display:none'>
                    {% block locshare-code %}
                    <code>{
                      title: '{{ page_title }}',
                      download_links: [
                      {
                        link: 'http://www.loc.gov/rss/ndnp/ndnp.xml',
                        label: 'application/rss+xml',
                        meta: 'News about Chronicling America - RSS Feed',
                      },
                      {% block download_links %}
                      {% endblock %}
                      ]
                    }</code>
                    {% endblock %}
                    </div>
                    <div class="clear-share"><!-- --></div>
                  </div>
                  {% block page_head_container %}
                  <div id="page_head">
                    {% block page_head %}
                        <h1 class="oneline">
                            {{ page_title }}
                        </h1>
                    {% endblock %}   
                  </div><!-- end id:page_head -->
                  {% endblock %}
                
                {% block left_bits %}
                {% endblock %}
                  
                  {% block main %}
                    <div id="main"><span style="width: 100%;"><a name="skip_menu"></a></span>
            		  {% block sub_page_head %}
            	      {% endblock %}
                      {% block main_content %}
                      {% endblock %}    
                    </div>
                  {% endblock %}
                  {% block non_main_content %}
                    <div class="clear"><!-- --></div>
                      {% block content %}
                      {% endblock %}  
                  {% endblock %}
                  {% endblock %}
                </div><!-- end id:main_body -->
            </div><!-- end id:content -->
            <!-- END Content -->
        
            {% block footer %}
                {% get_ext_url "http://cdn.loc.gov/html/locfoot.html" %}
            {% endblock %}
            
        </div><!-- end id:container -->
        <!-- END Container -->
    {% endblock %}

    <div id="omni">
      <input type="hidden" id="eVar4" value="{{image_credit}}" />
      <input type="hidden" id="prop13" value="{{image_credit}}" />
    </div>

    <!-- jQuery library -->
    <script type="text/javascript" 
		src="{% memorious 'media/js/jquery.min.js&jquery-ui.min.js&jquery.ba-bbq.min.js' %}"></script>
 
    <script type="text/javascript">
       var collapse_search_tab = "{{ collapse_search_tab }}";
       var start_year = "{{search_form.fulltextStartYear}}";
       var end_year = "{{search_form.fulltextEndYear}}";
    </script>
    <script type="text/javascript" src="{% memorious 'media/js/main.js' %}"></script>

    {% block javascript %}{% endblock %}

    <script type="text/javascript">
    $script.domReady(function() {
	  $script("{{omniture_url}}", function() {});
    });
    </script>

    {% if sharetool_url %} 
    <!-- Toolbar -->
    <script type="text/javascript" src="{{ sharetool_url }}"></script>
    {% endif %}

    <script>var LOCSuggest = {serviceType: 'jsonp'}</script>
    <script language="javascript" type="text/javascript" src="http://cdn.loc.gov/js/lib/modernizr-1.5.min.js"></script>
    </body>
</html>

