{% extends "site.html" %}

{% load static from staticfiles %}
{% load humanize %}
{% load custom_tags %}

{% block head_content %}{{ block.super }}{% block lc_metadata %}{% endblock lc_metadata %}
    <link title="NDNP Page Search" href="{% url 'chronam_search_pages_opensearch' %}"
          rel="search" type="application/opensearchdescription+xml" />
    <link title="NDNP Title Search" href="{% url 'chronam_search_titles_opensearch' %}"
          rel="search" type="application/opensearchdescription+xml" />

    <meta http-equiv="Content-Language" content="en-us" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link href="{% static 'jquery-ui.css' %}" rel="stylesheet" />{% block extrahead %}{% endblock extrahead %}{% endblock head_content %}

{% block content %}{% block page_head_container %}{% block page_head %}{% block sub_page_head %}{% if page_title %}
    <h1>{{ page_title }}</h1>{% endif %}{% endblock sub_page_head %}{% endblock page_head%}{% endblock page_head_container %}
    <div>
      <a name="skip_menu"></a>{% block main_content %}{% endblock main_content %}
    </div>{% block subcontent %}{% endblock subcontent %}{% endblock content %}
