{% extends "newspaper.html" %}

{% load static from staticfiles %}

{% block newspaper_content %}

  {% if not holdings %}
    <p>No holding information available.</p>

    <p>Check OCLC WorldCat for more information on <a class="external" href="http://www.worldcat.org/search?qt=worldcat_org_all&q='{{ title.lccn_orig }}'">this title</a>.</p>

  {% endif %}

    {% regroup holdings by institution as inst_holdings %}

    {% for inst_holding in inst_holdings %}
      {% if not forloop.first %}
      <hr/>
      {% endif %}
      <br/>
      <h3>HOLDING: {{inst_holding.grouper.name}}, {{inst_holding.grouper.city}}, {{inst_holding.grouper.state}}</h3>

      <p>
        <img src="{% static 'img-std/i_arrow_o.gif' %}" width="9" height="9" alt=""/>
        <a href="{% url 'openoni_institution_titles' inst_holding.grouper.code.lower %}" shape="rect">View more titles from this institution</a>
      </p>

      {% for holding in inst_holding.list %}
        <h4 class="holding">Available as: {% if holding.type %}{{ holding.type }}{% else %}Unspecified{% endif %}</h4>
        
        {% if holding.notes %}
        <p class="holding">{{ holding.notes }}</p>
        {% endif %}

        {% if holding.description %}
        <p class="holding">Dates:</p>
        <ul class="holding">
          {% for description in holding.description_as_list %}
            <li>{{ description }}</li>
          {% endfor %}
        </ul>
        {% endif %}
        <p class="holding">Last updated: {{ holding.last_updated }}</p>
      {% endfor %}
    <br/>
  {% endfor %}
      

  <div class="txt_wrapper">
      <p class="backtotop">
      <a href="#skip_menu">Top</a>
      </p>
  </div>
{% endblock %}
