{% extends "site_base_alt.html" %}
 
{% load memorious %}
{% load humanize %}
 
{% block javascript %}
<!-- jCarousel --> 
<script type="text/javascript" src="{% memorious 'media/js/jquery.jcarousel.js' %}"></script> 
<script type="text/javascript"> 
jQuery(function($){
    $('#mycarousel').jcarousel();
});
</script> 
{% endblock %}
 
{% block sub_page_head %}{% endblock %}

{% block content %}
  <div class="carousel-body"> 
    <div class="carousel-menu"> 
        <a href='{% url chronam_search_pages_results %}?dateFilterType=range&date1={{date|date:"m/d/Y" }}&date2={{date|date:"m/d/Y"}}/'><strong>100 Years Ago Today</strong>: {{ date|date:"F j, Y" }} ({{page_count|intcomma}} issues)</a>
    </div> 
    <ul id="mycarousel" class="jcarousel-skin-tango"> 
    {% for result in results %}
      <li><a href="{{ result.url }}"><img class="thumbnail" src="{{result.thumbnail_url}}" width="200" height="286" alt="" /></a><br /><span><a href="{{ result.url }}"><strong>{{ result.label }}</strong> ({{result.pages}}pp.)</a><br />{{result.place_of_publication}}</span></li> 
      {% endfor %}
    </ul> 
  </div><!-- end carousel-body --> 
  <div class="clear"><!-- --></div> 
{% endblock %}  
 
