{% extends "newspaper.html" %}

{% block lc_metadata %}
{% include "includes/lc_metadata.html" %}
{% endblock %}

{% block javascript %}
{{ block.super }}
<script type="text/javascript">
jQuery(function($){
    $("#id_year").change(function(){
        window.location = '{% url 'openoni_issues' title.lccn %}' + this.value;        
        });
    $("td.multiple").find("ul").css("display", "none");
    
    $("td.multiple").hover(
    function () {
    $(this).find("ul").slideToggle();
    },
    function () {
    $(this).find("ul").slideToggle();
    });
});
</script>
{% endblock %}

{% block extra_nav %}
<div id="col2_left"> 
    <form>
        <label class="bold" for="year_select">Issues for:</label>&nbsp; {{select_year_form.year}}
    </form>
    
    <p class="rule-top"><a href="{% url 'openoni_issues_first_pages' title.lccn %}"><strong>Show all front pages</strong></a></p> 
    <p class="rule-top gray">Single edition:<br /> dates in <b>bold</b>.</p> 
    <p class="gray">Multiple editions:<br /> dates in <b><i>bold italics</i></b>.</p> 
</div><!-- end id:col2_left --> 
{% endblock %}

{% block newspaper_content %}
<div id="col2_right" class='row'> 
    {{year_view|safe}}
</div><!-- end id:col2_right --> 
{% endblock %}
