{% extends "newspaper.html" %}

{% load static from staticfiles %}

{% block extrahead %}
{{ block.super }}
    <link rel="alternate" 
          type="application/marc+xml" 
          href="{% url 'openoni_title_marcxml' title.lccn %}" />

{% endblock %}

{% block newspaper_content %}

{% autoescape off %}
{{title.marc.html}}
{% endautoescape %}

<br />
 
<div style="text-align: center;"> 
<a href="{% url 'openoni_title_marcxml' title.lccn %}">
    <img src="{% static 'images/xml.png' %}"></img>
</a>
</div>

<br />

{% endblock %}
