{% extends "site_base.html" %}
{% load custom_filters %}
{% load static from staticfiles %}
{% load humanize %}

{% block extrahead %}
<link rel="alternate" title="Newspapers Atom Feed" href="{% url 'chronam_newspapers_atom' %}" />
<link rel="alternate" title="Newspapers JSON Feed" href="{% url 'chronam_newspapers_format' "json" %}" />
<link type="text/css" href="{% static 'css/tablesort.css' %}" rel="stylesheet" />
{% endblock %}

{% block subcontent %}
{% if titles.count > 0 %}
<div class="search_results_body">
    <div class="results_nav">
        <p class="term">
            {{ titles.count|intcomma }} newspaper{% if titles.count > 1 %}s{% endif %}
            {% if state %}from <strong>{{ state }}</strong>{% endif %}
            {% if ethnicity %}filtered on <strong>{{ ethnicity }}</strong>{% endif %} 
            {% if language_display %}in <strong>{{ language_display }}</strong>{% endif %}
            {% if titles.count == 1 %}is{% else %}are{% endif %} available for viewing on this site. 
        </p>
    </div>
    <table id="newspapers" class="table table-striped table-hover browse_collect tablesorter" cellspacing="0" summary="">
        <thead>
        <tr>
            <th class="headerSortDown left_no_border">State</th>
            <th>Newspaper</th>
            <th>Browse Issues</th>
            <th>No. of Issues</th>
            <th>Earliest Issue</th>
            <th>Latest Issue</th>
            <th>More Info</th>
        </tr>
        </thead>
        <tbody>
        {% for state, titles in newspapers_by_state %}
        {% for title in titles %}
            {% with title.lccn as lccn %}
            <tr>
                <td class="first left_no_border"><a {% ifchanged state %}name="{{state}}" {% endifchanged %}href="{% url 'chronam_newspapers_state' state|pack_url %}">{{state}}</a></td>
                <td><a href="{% url 'chronam_title' lccn %}"><strong>{{title.display_name}}</strong></a><br />{{title.place_of_publication}}, {{title.start_year}}-{{title.end_year}}</td>
                <td><a href="{% url 'chronam_issues' lccn %}" shape="rect"><img src="{% static 'images/calendar_icon.gif' %}" alt="calendar"/></a></td>
                <td>{{title.issues.count}}</td>
                <td><a href="{% url 'chronam_issue_pages' lccn title.first 1 %}">{{title.first|date:'Y-m-d'}}</a></td>
                <td><a href="{% url 'chronam_issue_pages' lccn title.last 1 %}">{{title.last|date:'Y-m-d'}}</a></td>
                <td class="last">{% if title.has_essays %}<a href="{% url 'chronam_title' lccn %}">Yes</a>{% endif %}</td>
            </tr>
            {% endwith %}
        {% endfor %}
        {% endfor %}
        </tbody>
    </table>
    <div class="txt_wrapper">
        <p class="backtotop"><a href="#skip_menu">Top</a></p>
    </div>
</div><!-- end class:search_results_body -->
{% else %}
<h2>No Results</h2>
{% endif %}
{% endblock %}


{% block javascript %}{{ block.super }}
<script type="text/javascript" src="{% static 'js/jquery.tablesorter.min.js' %}"></script>
<script type="text/javascript">
    // Customization for tablesorter. Works in conjunction with jquery.tablsorter.min.js

    // add parser through the tablesorter addParser method 
    $.tablesorter.addParser({ 
        // set a unique id 
        id: 'titles', 
        is: function(s) { 
            // return false so this parser is not auto detected 
            return false; 
        }, 
        format: function(s) { 
            // format your data for normalization
            s = $.trim(s)     //Make sure there are no leading spaces
            re = /(^The\s+)|(^A\s+)|(^An\s+)/gi;
            if (s.match(re) != null) {
                s = s.replace(re,'');
             }
            return s.toLowerCase();
        }, 
        type: 'text' 
    }); 

    $(document).ready(function() { 
        $("#newspapers").tablesorter({ 
            headers: { 
                {% if state %}0: { sorter: false},{% endif %}
                1: {sorter: 'titles'},
                2: { sorter: false }, 
                6: { sorter: false } 
            }, 
            widgets: ['zebra'],
            // for all newspapers, sort on state. If state, then sort on title.
            sortList: [{% if not state %}[0,0]{% else %}[1,0]{% endif %}]
        }); 
    });

</script>

{% endblock %}
