{% extends "site_base.html" %}

{% load static from staticfiles %}
{% block lc_metadata %}
{% with title.display_name as title_metadata %}
{% include "includes/lc_metadata.html" %}
{% endwith %}
{% endblock %}

{% block extrahead %}
<link rel="primaryTopic" href="{{ title.abstract_url }}" />
<link rel="resourcemap" type="application/rdf+xml" href="{% url 'chronam_title_dot_rdf' title.lccn %}" title="ORE Resource Map" />
<link rel="alternate" type="application/marc+xml" href="{% url 'chronam_title_marcxml' title.lccn %}" title="MARCXML Record for {{ title.display_name }}" />
<link rel="alternate" type="application/atom+xml" href="{% url 'chronam_title_atom' title.lccn %}" title="Update Feed for {{ title.display_name }}" />

{% endblock %}

{% block download_links %}
{
    link: '{% url 'chronam_title_marcxml' title.lccn %}',
    label: 'application/marc+xml',
    meta: 'MARCXML Record for {{ title.display_name }}',
},
{
    link: '{% url 'chronam_title_atom' title.lccn %}',
    label: 'application/atom+xml',
    meta: 'Update Feed for {{ title.display_name }}',
},
{% endblock %}
                      
{% block page_head %}
<h1>
{{ page_title }}<br />
<span>{{title.place_of_publication}} ({{title.start_year}}-{{title.end_year}})</span>
</h1>
{% endblock %}

{% block subcontent %}

{% block page_nav %} 
<div id="page_nav">
{% if title.has_issues %}<a id="page_nav_issues" href="{% url 'chronam_issues' title.lccn %}">Browse Issues</a> | {% endif %}
<a id="page_nav_title" href="{% url 'chronam_title' title.lccn %}">About</a> | <a id="page_nav_holdings" href="{% url 'chronam_title_holdings' title.lccn %}">Libraries that Have It</a> | <a id="page_nav_marc" href="{% url 'chronam_title_marc' title.lccn %}">MARC Record</a></div> 
{% endblock %}

<div id="std_box"> 
    {% block extra_nav %}
    {% endblock %}
    
    {% block newspaper_content %}
    {% endblock %}

    <div class="clear"><!-- --></div> 
</div><!-- end id:std_box --> 
{% endblock %}
