{% extends "site_base.html" %}

{% load static from staticfiles %}
{% load humanize %}

{% block javascript %}
{{ block.super }}
<script type="text/javascript">    
(function($){
    setup_states();

    function normalize(s) {
        s = s.toLowerCase();
        var parts = s.split(' ');
        return parts.join('_');
    }

    function setup_states() {
        var select = $("select#id_nd_state");
        $.getJSON('{% url 'openoni_home' %}' + 'states.json', function(states){
            for (state in states) {
                select.append('<option>' + states[state] + '</option>')
            }
        });
        select.change(load_counties);
        select.change(load_all_cities);
    }

    function load_counties() {
        // clear out pre-existing counties and cities
        var county_select = $('select#id_nd_county');
        county_select.empty().append('<option value="">Select Counties...</option>');
        $('select#id_nd_city').empty().append('<option value="">Select Cities...</option>');
    
        // load up the counties for the selected state
        var state = $('select#id_nd_state').find('option:selected').text();
        $.getJSON('{% url 'openoni_home' %}' + 'counties/' + normalize(state) + '.json', function(counties){
            for (county in counties) {
                county_select.append('<option>' + counties[county] + '</option>');
            }
            county_select.unbind();
            county_select.change(load_cities);
        });
    }

    function load_all_cities() {
        var state = $('select#id_nd_state').find('option:selected').text();
        var select = $('select#id_nd_city');
        select.empty().append('<option value="">Select Cities...</option>');
        $.getJSON('{% url 'openoni_home' %}' + 'cities/' + normalize(state) + '.json', function(cities){
            for (city in cities) {
                select.append('<option>' + cities[city] + '</option>');
            }
        });
    }
    
    function load_cities() {
        var state = $('select#id_nd_state').find('option:selected').text();
        var county = $('select#id_nd_county').find('option:selected').text();
        var select = $('select#id_nd_city');
        select.empty().append('<option value="">Select Cities...</option>');
        // load 'All' counties is selected then load all cities
        if (county == 'Select Counties...') {
            var url = '{% url 'openoni_home' %}' + 'cities/' + normalize(state) + '.json';
        } 
        else {
            var url = '{% url 'openoni_home' %}' + 'cities/' + normalize(state) + '/' + normalize(county) + '.json';
        }
        $.getJSON(url, function(cities) {
            var select = $('select#id_nd_city');
            for (city in cities) {
                select.append('<option>' + cities[city] + '</option>');
            }
        });
    }
})(jQuery);

</script> 
{% endblock %}

{% block page_head_container %}{% endblock %}
{% block subcontent %}
<div class="browse_collect_ctrl top">
  <h1>{{ page_title }}</h1>
  <p>This directory of newspapers published in the United States since 1690 can help identify what titles exist for a specific place and time, and how to access them. Use the options below to select a particular place and time, using keywords to locate specific titles. Titles currently listed: {{title_count|intcomma}}.</p>

    <h3 class="smaller">Browse the Directory by newspaper title:</h3>
    <div class="pagination pagination-mini">
    <ul class="alpha_tags">
    {% for val in browse_val %}
    	<li><a href="{% url 'openoni_titles_start' val %}">{{val}}</a></li>
    {% endfor %}
    </ul>
    </div>
</div>
<div id="wrap_searchdir">
    <form action="{% url 'openoni_search_titles_results' %}" method="get" class="search_directory">
        <div class="wrapper-search">
            <p><label for="state">Select where the newspaper was published:</label><br />
            <select id="id_nd_state" name="state">
            <option value="">Select State(s)</option>
            </select>
            <select id="id_nd_county" name="county">
            <option value="">Select Counties...</option>
            </select>
            <select id="id_nd_city" name="city">
            <option value="">Select Cities...</option>
            </select>
            </p>
            <p><span class="label_alt">Select when the newspaper was published:</span><br />
            {{form.year1.label}}
            {{form.year1}}
            {{form.year2.label}}
            {{form.year2}}
            </p>
            <p>
            <label for="terms">Enter keywords:</label><br />
            {{form.terms}}
            </p>
            <!-- more search options -->
            <span class="label_alt">More search options:</span><br />
            <div class="fl-wrap">
                {{form.frequency.label}}<br />{{form.frequency}}
            </div>
            <div class="fl-wrap">
                {{form.language.label}}<br />{{form.language}}
            </div>
            <div class="clear-form"><!-- --></div>
            <div class="fl-wrap">
                {{form.ethnicity.label}}<br />{{form.ethnicity}}
            </div>
            <div class="fl-wrap">
                {{form.labor.label}}<br />{{form.labor}}
            </div>
            <div class="fl-wrap">
               {{form.material_type.label}}<br />{{form.material_type}}
            </div> 
            <div class="fl-wrap">
                {{form.lccn.label}}<br />{{form.lccn}}
            </div>
            <input type="hidden" name="rows" id="rows" value="20" />
            <div class="clear-form"><!-- --></div>
        </div><!-- end class:wrapper-search -->
        <p class="box-btns" style="margin:0;">
          <button id="news_reset" type="reset" value="clear">Clear</button>
          <button type="submit" value="Submit" class="primary">Search</button>     
        </p>
    </form>
</div>

{% endblock %}
