{% extends "site_base_alt.html" %}
{% load static from staticfiles %}

{% block subcontent %}

<div id="head_nav">
    <p>
    Below is the <a href="{% url 'openoni_ocr' %}">OCR text representation</a>
    for this newspapers page. It is also available as 
    <a href="{% url 'openoni_page_ocr_txt' title.lccn issue.date_issued issue.edition page.sequence %}">plain text</a> as well as 
    <a href="{% url 'openoni_page_ocr_xml' title.lccn issue.date_issued issue.edition page.sequence %}">XML</a>.
    </p>
</div> 

    <div>
    {{page.ocr.text|escape}}
    </div>

    <p>
{% endblock %}

