{% extends "site_base.html" %}
{% load static from staticfiles %}

{% block javascript %}
{{ block.super }}
    <script type="text/javascript" src="{% static 'js/openseadragon.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/jquery.ba-bbq.min.js' %}"></script> 

    <script type="text/javascript">

    function fullscreen(viewer) {
        if (viewer.isFullPage()) { 
            jQuery.bbq.pushState({"fullscreen": true});
            rewritePagingLinks();
        } else {
            jQuery.bbq.removeState("fullscreen");
            rewritePagingLinks();
        }
    }

    function rewritePagingLinks() {
        if (jQuery.bbq.getState("fullscreen")) {
            jQuery("#item-ctrl a[rel]").each(function(i, a) {
                var href = jQuery(a).attr("href") + "#fullscreen=true";
                jQuery(a).attr({href: href}); 
            });
        } else {
            jQuery("#item-ctrl a[rel]").each(function(i, a) {
                var href = jQuery(a).attr("href").replace("#fullscreen=true", "");
                jQuery(a).attr({href: href});
            });
        }
    }
    
    function resizePrint(viewer) {
        var image = viewer.source;
        var zoom = viewer.viewport.getZoom(); 
        var size = new OpenSeadragon.Rect(0, 0, image.dimensions.x, image.dimensions.y);
        var container = viewer.viewport.getContainerSize();
        var fit_source = fitWithinBoundingBox(size, container);
        var total_zoom = fit_source.x/image.dimensions.x;
        var container_zoom = fit_source.x/container.x;
        var level =  (zoom * total_zoom) / container_zoom;
        var box = getDisplayRegion(viewer, new OpenSeadragon.Point(parseInt(image.dimensions.x*level), parseInt(image.dimensions.y*level)));
        var scaledBox = new OpenSeadragon.Rect(parseInt(box.x/level), parseInt(box.y/level), parseInt(box.width/level), parseInt(box.height/level));
        var d = fitWithinBoundingBox(box, new OpenSeadragon.Point(681, 817));
        var dimension = '{% url chronam_page title.lccn,issue.date_issued,issue.edition,page.sequence %}'+'print/image_'+d.x+'x'+d.y+'_from_'+ scaledBox.x+','+scaledBox.y+'_to_'+scaledBox.getBottomRight().x+','+scaledBox.getBottomRight().y;
        jQuery("#clip").attr('href', dimension);
        jQuery(".locshare-print-button").find('a:first').attr('href', dimension).click(function(event) {
            window.open(jQuery(this).attr('href'), "print");
        });
    };

    function fitWithinBoundingBox(d, max) {
        if (d.width/d.height > max.x/max.y) {
            return new OpenSeadragon.Point(max.x, parseInt(d.height * max.x/d.width));
        } else {
            return new OpenSeadragon.Point(parseInt(d.width * max.y/d.height),max.y);
        }
    }
    
    function getDisplayRegion(viewer, source) {
        //Determine portion of scaled image that is being displayed
        var box = new OpenSeadragon.Rect(0, 0, source.x, source.y);
        var container = viewer.viewport.getContainerSize();
        var bounds = viewer.viewport.getBounds();
        //If image is offset to the left
        if (bounds.x > 0){
            box.x = box.x - viewer.viewport.pixelFromPoint(new OpenSeadragon.Point(0,0)).x;
        }
        //If full image doesn't fit
        if (box.x + source.x > container.x) {
            box.width = container.x - viewer.viewport.pixelFromPoint(new OpenSeadragon.Point(0,0)).x;
            if (box.width > container.x) {
                box.width = container.x;
            }
        }
        //If image is offset up
        if (bounds.y > 0) {
            box.y = box.y - viewer.viewport.pixelFromPoint(new OpenSeadragon.Point(0,0)).y;
        }
        //If full image doesn't fit
        if (box.y + source.y > container.y) {
            box.height = container.y - viewer.viewport.pixelFromPoint(new OpenSeadragon.Point(0,0)).y;
            if (box.height > container.y) {
                box.height = container.y;
            }
        }
        return box;
    }

    function addOverlay(viewer, x1, y1, x2, y2) {
        var img = document.createElement("img");
        var placement = OpenSeadragon.OverlayPlacement.BOTTOM;
            
        var div = document.createElement("div");
        var rect = new OpenSeadragon.Rect(x1, y1, x2, y2);

        div.className = "overlay";
        viewer.drawer.addOverlay(div, rect);
    }

    function addOverlays(viewer) {
        var params = jQuery.deparam.fragment();
        var words = params["words"] || "";
        var dimensions = viewer.source.dimensions;
        jQuery.getJSON('{% url chronam_page_coordinates page.issue.title.lccn,page.issue.date_issued,page.issue.edition,page.sequence %}', function(all_coordinates) {
            var scale = 1 / all_coordinates["width"];
            
            jQuery.each(words.split(" "), function(index, word) {
                if (word!="") {
                    var boxes = [];

                    var coordinates = all_coordinates["coords"][word];
                    jQuery.each(coordinates, function(index, value) {
                        addOverlay(viewer,
                                   value[0]*scale,
                                   value[1]*scale,
                                   value[2]*scale,
                                   value[3]*scale);
                    });
                }
            });
        });
    }

    function getTileUrl(level, column, row) {
        var px = 0
        if (column!=0) {
            px = this.tileSize * column - this.tileOverlap;
        }
        var py = 0
        if (row!=0) {
            py = this.tileSize * row - this.tileOverlap;
        }
        var scale = this.getLevelScale(level);
        var dimensionsScaled = this.dimensions.times(scale);

        // find the dimension of the tile, adjust for no
        // overlap data on top and left edges
        sx = this.tileSize + (column==0 ? 1 : 2) * this.tileOverlap;
        sy = this.tileSize + (row==0 ? 1 : 2) * this.tileOverlap;

        // adjust size for single-tile levels where the image
        // size is smaller than the regular tile size, and for
        // tiles on the bottom and right edges that would
        // exceed the image bounds.
        sx = Math.min(sx, dimensionsScaled.x - px)
        sy = Math.min(sy, dimensionsScaled.y - py)

        var tile_width = parseInt(sx);
        var tile_height = parseInt(sy);

        var x1 = parseInt(px / scale);
        var y1 = parseInt(py / scale);
        var x2 = parseInt((px + sx) / scale);
        var y2 = parseInt((py + sy) / scale);

        return '{% url chronam_page title.lccn,issue.date_issued,issue.edition,page.sequence %}' + 'image_'+tile_width+'x'+tile_height+'_from_'+x1+','+y1+'_to_'+x2+','+y2+'.jpg';
    }

    function updateSearchNav(data) {
        if (!data) return;

        jQuerynav_result = jQuery(".nav_result");
        jQuerynav_result.find("a.backtoresults").attr("href", data.results);
        jQuerynav_result.find(".current").text(data.current);
        jQuerynav_result.find(".total").text(data.total);

        if (data.next_result) {
            var url = data.next_result;
            jQuerynav_result.find(".next")
            .removeClass("disabled")
            .find("a")
            .wrapInner(jQuery('<a>').attr('href', url));
        }
        if (data.previous_result) {
            var url = data.previous_result;
            jQuerynav_result.find(".previous")
            .removeClass("disabled")
            .find("a")
            .wrapInner(jQuery('<a>').attr('href', url));
        }
        jQuerynav_result.slideDown("fast");
    }

    function addSearchNav() {
        var params, search_qs;

        params = jQuery.extend(jQuery.deparam.querystring(), jQuery.deparam.fragment());
        search_qs = jQuery.param(params, true);

        var view_type = params.view_type || 'gallery';

        if (!search_qs || !search_qs.match(/searchType/)) return;

        jQuery.ajax({
            url: "{% url chronam_search_pages_navigation %}?" + search_qs,
            dataType: "json",
            cache: true,
            success: updateSearchNav
        });
    }

    function init() {
        var viewer = null;
        addSearchNav();

        var width = {{page.jp2_width}};
        var height = {{page.jp2_length}};
        var tileSize = 256;
        var tileOverlap = 1;
        var minLevel = 10;
        var maxLevel = Math.ceil(Math.log(Math.max(width, height)) / Math.log(2));

        var ts = new OpenSeadragon.TileSource(width, height, tileSize, tileOverlap, minLevel, maxLevel);
        ts.getTileUrl =  getTileUrl;

        var viewer = new OpenSeadragon.Viewer({
            id: "viewer_container",
            toolbar: "item-ctrl",
            prefixUrl: "{% static '' %}",
            autoHideControls: false,
            nextButton: "next",
            previousButton: "previous",
            tileSources: ts
        });

        viewer.addHandler("open", addOverlays);
        viewer.addHandler("open", resizePrint);
        viewer.addHandler("animationfinish", resizePrint);
        viewer.addHandler("resize", fullscreen);

        if (jQuery.bbq.getState("fullscreen")) {
            viewer.setFullPage(true);
            rewritePagingLinks();
        }

        jQuery("#pageNum").change(function(event) { 
            var url = jQuery("#pageNum").val();
            if (viewer.isFullPage()) {
                url += "#fullscreen=true";
            }
            document.location = url;
        });

    }

    jQuery(document).ready(init);
    </script>

    <noscript><!-- without javascript the pageviewer does not work; display OCR in this case instead. -->
        <h3>Newspaper Page Text</h3>
        <pre>{{ page.ocr.text }}</pre>
    </noscript>

    {% endblock %}

{% block lc_metadata %}
    {% with page as title_metadata %}
    {% include "includes/lc_metadata.html" %}
    {% endwith %}
{% endblock %}

{% block extrahead %}
    <link rel="primaryTopic" href="{{ page.abstract_url }}" />
    <link rel="resourcemap" type="application/rdf+xml" href="{% url chronam_page_dot_rdf page.issue.title.lccn, page.issue.date_issued, page.issue.edition, page.sequence %}" />
    <link rel="alternate" type="application/json" href="{% url chronam_page_dot_json page.issue.title.lccn, page.issue.date_issued, page.issue.edition, page.sequence %}" />
    <link rel="alternate" type="image/jp2" href="{% url chronam_page_jp2 title.lccn, issue.date_issued, issue.edition, page.sequence %}" />
    <link rel="alternate" type="application/pdf" href="{% url chronam_page_pdf title.lccn, issue.date_issued, issue.edition, page.sequence %}" />
    <link rel="alternate" type="application/xml" href="{% url chronam_page_ocr_xml title.lccn, issue.date_issued, issue.edition, page.sequence %}" />
    <link rel="alternate" type="text/plain" href="{% url chronam_page_ocr_txt title.lccn, issue.date_issued, issue.edition, page.sequence %}" />
    <link rel="canonical" href="http://{{host}}{% url chronam_page title.lccn, issue.date_issued, issue.edition, page.sequence %}" />
    <link rel="up" href="{{ issue.url }}" />
    <link rel="up" href="{{ issue.batch.url }}" />
    {% if page.reel.number %}<link rel="up" href="{% url chronam_reel page.reel.number %}" />{% endif %}
    {% if page.on_flickr %}{% for flickr_url in page.flickr_urls.all %}<link rel="alternate" type="text/html" href="{{ flickr_url.value }}" />{% endfor %}{% endif %}
    <meta property="og:image" content="http://{{ host }}{% url chronam_page_thumbnail title.lccn,page.issue.date_issued,page.issue.edition,page.sequence %}" />
    <meta property="og:title" content="{{ page_title }}" />
    <meta property="og:description" content="{{ page_title }}, brought to you by {{ image_credit }}, and the National Digital Newspaper Program." />

    <style type="text/css">
        /* header for full-page view */
		/* begin IE7 only */
		* html #full_header,
		* html #navigation {
		width:100% !important;
		}
		/* end IE7 only */
        body #full_header.normal {
	    display: none;
        }
        body #full_header.full {
	    display: block;
        }
        #full_header {
            overflow:hidden;
            padding-top:2px;
	    width: 100%;
	    height: 40px;
            background: #900 url({% static 'images/line2.gif' %}) top left no-repeat !important;
        }
        #navigation {
    	    overflow:hidden;
            margin:0;
            padding:0;
    		background-color:#2a354a;
        }
        #navigation span {
            font-size:0.8em;
            float:left;
            padding: 6px 29px 20px 29px;
    		background-color:#afb9c7;
        }
       ul.nav {
           display:block;
           background-color:#2a354a;
           margin:0 0 0 190px;
           overflow:hidden;
           padding-bottom:5px;
       }
       ul.nav li {
	       float: left;
    	   list-style: none outside none;
		   padding: 5px 10px 0;
		   text-align: left;
		   color: #CCCCCC;
		   font-size: 0.8em;
       }
       ul.nav li.bar {
           border-right: 1px solid #666;
           height: 35px;
       } 
       ul.nav li.last {
           clear:right;
       }
       /* viewer */
       #viewer_container
       {
           width: 100%;//500px;
           height: 600px;
           background-color: black;
           border: 1px solid black;
           color: white;   /* for error messages, etc. */
       }
       .overlay
       {
           border: 1px solid red;
           opacity: 0.4;      
           -moz-opacity: 0.4;
           -webkit-opacity: 0.4;
           background: red;
       }
    </style>

    <style type="text/css" media="screen">
      #imageViewer_nav {
          /*border: 0px;*/
          margin: 0px;
          padding: 0px;
      }
      #item-ctrl {
          padding: 0px;
          margin: 0px;
      }
      #main_body {
          margin: 0px;
          padding: 0px;
          width: 100%;
          float: none;
          clear: none;
      }
    </style>  
      
{% endblock %}

{% block sharetool_container_left %}
<div class="nav_result">
    <a class="ar-back backtoresults" href="">Back to search results</a>
    <span class="previous disabled"><a class="ar-back" href="">Previous</a> |</span>
    <span class="current"></span> of <span class="total"></span>
    <span class="next disabled">| <a class="ar-more" href="">Next</a></span>
</div>
{% endblock %}

{% block download_links %}
{
    link: '{% url chronam_page_jp2 title.lccn, issue.date_issued, issue.edition, page.sequence %}',
    label: 'image/jp2',
    meta: '',
},
{
    link: '{% url chronam_page_pdf title.lccn, issue.date_issued, issue.edition, page.sequence %}',
    label: 'application/pdf',
    meta: '',
},
{
    link: '{% url chronam_page_ocr_xml title.lccn, issue.date_issued, issue.edition, page.sequence %}',
    label: 'application/xml',
    meta: '',
},
{
    link: '{% url chronam_page_ocr_txt title.lccn, issue.date_issued, issue.edition, page.sequence %}',
    label: 'text/plain',
    meta: '',
},
{% endblock %}
                      
{% block page_head %}
<h1>
{{ page_head_heading }}<br />
<span>About <a href="{% url chronam_title title.lccn %}">{{page_head_subheading}}</a></span>
</h1>
{% endblock %}

{% block body %}
{{ block.super }}
{% endblock %}

{% block subcontent %}

  <div class="clear"></div>
  <p class="gray nomargin-bottom2">Image provided by: {{image_credit}}</p> 
  <div id="item-wrapper"> 
    <div id="imageViewer_nav">
      <div id="item-ctrl"> 
        <div style="padding-left: 160px; padding-top: 10px;">
        <span class="c-images"> 
          <label for="pageNum">Image:</label> 
          <select name="pageNum" id="pageNum">
            {% for p in issue.pages.all %}
            <option value="{% url chronam_page title.lccn,issue.date_issued,issue.edition,p.sequence %}" {% ifequal p.sequence page.sequence %}selected="selected"{% endifequal %}>{{p.sequence}}</option>
            {% endfor %}
          </select>
          of {{issue.pages.all|length}}.
        </span> 
        <span class="c-pages"> 
          {% if page.previous %}
          <a rel="previous" href="{% url chronam_page title.lccn,issue.date_issued,issue.edition,page.previous.sequence %}"><img src="{% static 'images/item_btn_prev.png' %}" width="17" height="17" alt="Previous Page"></a> 
          {% endif %}
          <strong>Page</strong> 
          {% if page.next %}
          <a rel="next" href="{% url chronam_page title.lccn,issue.date_issued,issue.edition,page.next.sequence %}"><img src="{% static 'images/item_btn_next.png' %}" width="17" height="17" alt="Next Page"></a>
          {% endif %}
          <a rel="up" href="{% url chronam_issue_pages title.lccn,issue.date_issued,issue.edition %}"><small>All Pages</small></a> 
        </span> 
        <span class="c-issues"> 
          {% if previous_issue_first_page %}
          <a rel="previous" href="{% url chronam_page title.lccn,previous_issue_first_page.issue.date_issued,previous_issue_first_page.issue.edition,previous_issue_first_page.sequence %}"><img src="{% static 'images/item_btn_prev.png' %}" width="17" height="17" alt="Previous Issue" /></a> 
          {% endif %}
          <strong>Issues</strong> 
          {% if next_issue_first_page %}
          <a rel="next" href="{% url chronam_page title.lccn,next_issue_first_page.issue.date_issued,next_issue_first_page.issue.edition,next_issue_first_page.sequence %}"><img src="{% static 'images/item_btn_next.png' %}" width="17" height="17" alt="Next Issue" /></a><a class="all" href="{% url chronam_issues title.lccn %}"><small>All Issues</small></a> 
          {% endif %}
        </span>
        {% if page.jp2_filename %}
        <span class="c-view"> 
          <!-- view --> 
          <a class="text" href="{% url chronam_page_ocr title.lccn,issue.date_issued,issue.edition,page.sequence %}">Text</a> <span>|</span> <a href="{% url chronam_page_pdf title.lccn, issue.date_issued, issue.edition, page.sequence %}">PDF</a> 
        </span> 
        <span class="c-download"> 
          <!-- download --> 
          <strong>Download:</strong> <a href="{% url chronam_page_jp2 title.lccn, issue.date_issued, issue.edition, page.sequence %}">JP2 ({{image_size}})</a> 
        </span>
        <span class="c-clip">
             <a id="clip" href="#" target="print"><img src="{% static 'images/item_clip_icon.png' %}" width="18" height="17" alt="Clip Image" /></a>
        </span>
        {% endif %}
        </div>
      </div><!-- end id:item-ctrl -->

      {% if page.jp2_filename %}
      <div id="viewer_container"></div>
      {% else %}
      <div class="missing">
        <h3>Missing Page: {{explanation}}</h3>
      </div>
      {% endif %}
      
      <div class="item-foot"> 
        <ul class="plain"> 
          <li><i>{{title.name}}</i> ({{title.place_of_publication}}), {{issue.date_issued|date:"d N Y"}}. <i>Chronicling America: Historic American Newspapers</i>. Lib. of Congress.  &lt;<a href="{% url chronam_page title.lccn,issue.date_issued,issue.edition,page.sequence %}">http://{{host}}{% url chronam_page title.lccn,issue.date_issued,issue.edition,page.sequence %}</a>&gt;</li> 
          {% if page.on_flickr %}
          <li><strong>Flickr Link</strong> <a href="{{ page.first_flickr_url }}">{{ page.first_flickr_url }}</a></li> 
          {% endif %}
        </ul> 
      </div>
    </div><!-- end id:imageViewer_nav --> 
  </div><!-- end id:item-wrapper --> 
{% endblock %}
