{% extends "site_base.html" %}

{% load static from staticfiles %}
{% load humanize %}

{% block head_content %}{{ block.super }}
<link href="{% static 'bootstrap/css/datepicker.css' %}" rel="stylesheet" media="screen">
{% endblock head_content %}
{% block subcontent %}
<div>
    <form action="{% url 'openoni_search_pages_results' %}" method="get" name="fulltext2" id="fulltext2">
        <fieldset>
            <legend>Limit Search</legend>
            <div class="row">
                <!-- state -->
                <div class="span3"> <label for="id_states">Select States:</label>
                {{ adv_search_form.state }} </div>
                <!-- newspaper -->
                <div class="span3"> <label for="id_lccns">Or Select Newspapers:</label>
                {{ adv_search_form.lccn }} </div>
            </div>
            <div class="row">
                <!-- page -->
                <div class="span3">
                    <label for="id_sequence">Specific page</label>
                    {{ adv_search_form.sequence }}
                </div>
                <div class="span3"
                    <label for="id_language">Language</label>
                    {{ adv_search_form.language }}
                </div>
            </div>
        </fieldset>
        <fieldset>
            <legend>Select Date Range</legend>
            <!-- date -->
            <p class="help-block">Newspaper pages are available for newspapers published between <strong>{{adv_search_form.fulltextStartYear}}-{{adv_search_form.fulltextEndYear}}</strong></p>
            <div class="row">
                <div class="span2">
                    <label for="id_date_from">from</label>
                    <input id="id_date_from" name="date1" class="span2" type="text" data-date-format="mm/dd/yyyy" data-date="01-01-{{adv_search_form.fulltextStartYear}}" value="01/01/{{adv_search_form.fulltextStartYear}}">
                </div>
                <div class="span2">
                    <label for="id_date_to">to</label>
                    <input id="id_date_to" name="date2" class="span2" type="text" data-date-format="mm/dd/yyyy" data-date="12-31-{{adv_search_form.fulltextEndYear}}" value="12/31/{{adv_search_form.fulltextEndYear}}">
                </div>
            </div>
        </fieldset>
        <fieldset>
            <legend>Enter Search</legend>
            <div class="row">
                <div class="span3">
                    <label for="id_ortext">...with <strong>any</strong> of the words:</label>
                    {{ adv_search_form.ortext }}
                </div>
                <div class="span3">
                    <label for="id_andtext">...with <strong>all</strong> of the words:</label>
                    {{ adv_search_form.andtext }}
                </div>
                <div class="span3">    
                    <label for="id_phrasetext">...with the <strong>phrase</strong>:</label>
                    {{ adv_search_form.phrasetext }}
                </div>
            </div>    
            <label for="id_proxtext_adv">...with the words:</label>
            <div class="form-inline">
                {{ adv_search_form.proxtext }}
                <label for="id_proxdistance">within</label>
                {{ adv_search_form.proxdistance}}
                <span>words of each other</span>
            </div>
        </fieldset>
        <fieldset>
            <input type="hidden" name="rows" id="rows" value="20" />
            <input type="hidden" name="searchType" value="advanced" />
            <div class="form-actions">
                <button id="adv_reset" type="reset" value="clear" class="btn">Clear</button>
                <button type="submit" value="Submit" class="btn btn-primary">Search</button>
            </div>
        </fieldset>
    </form>
</div><!-- end id:tab_advanced_search -->
{% endblock subcontent %}
{% block javascript %}
{{ block.super }}
<script src="{% static 'bootstrap/js/bootstrap-datepicker.js' %}"></script>
<script type="text/javascript">
(function($){
    $('#id_date_from').datepicker();
    $('#id_date_to').datepicker();
})(jQuery);
</script>
{% endblock javascript %}
