<!DOCTYPE html>{% load static from staticfiles %}
<html>
  <head profile="http://dublincore.org/documents/2008/08/04/dc-html/">
    {% block head_content %}
    <title>{% if page_title %}{{page_title}} « {% endif %}{% if site_title %}{{site_title}} « {% endif %}Library of Congress</title>
    <meta http-equiv="Content-Language" content="en-us" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"/>
    {% endblock head_content %}
  </head>
  <body>
    {% block body_content %}
    <div id="container">
    </div>

    <div id="crumb_nav">
      {% block crumb_base %}
      <a href="/">Home</a>
      {% endblock %}
      {% for crumb in crumbs %}
      <span> &gt; </span> <a href="{{crumb.href}}">{{crumb.label}}</a>
      {% endfor %}
      {% block crumb_extra %}
      {% endblock %}
    </div>

    <div id="content">
    {% block content %}
    {% endblock content %}
    </div>

    {% endblock body_content %}
    {% block javascript %}
    <script src="{% static 'js/jquery.min.js' %}"></script>
    {% endblock javascript %}
  </body>
</html>

