{% extends "site_base.html" %}
{% load static from staticfiles %}
{% block extrahead %}
    {% if page.has_previous %}
        {% if start %}
        <link rel="prev" href="{% url 'openoni_titles_start_page' start page.previous_page_number %}" />
        {% else %}
        <link rel="prev" href="{% url 'openoni_titles_page' page.previous_page_number %}" />
        {% endif %}
    {% endif %}
    {% if page.has_next %}
        {% if start %}
        <link rel="next" href="{% url 'openoni_titles_start_page' start page.next_page_number %}" />
        {% else %}
        <link rel="next" href="{% url 'openoni_titles_page' page.next_page_number %}" />
        {% endif %}
    {% endif %}
{% endblock %}

{% block subcontent %}

<div id="left">

  <div class="browse_collect_ctrl titles top">
    <h3 class="smaller">Browse the Directory by newspaper title:</h3>  
    <div class="pagination pagination-mini">
    <ul class="alpha_tags">
      {% for val in browse_val %}
      {% ifequal val start %}
      <li><a class="off" href="{% url 'openoni_titles_start' val %}">{{val}}</a></li>
      {% else %}
      <li><a href="{% url 'openoni_titles_start' val %}">{{val}}</a></li>
      {% endifequal %}
      {% endfor %}
    </ul>
    </div>
  </div><!-- end class:browse_collect_ctrl --> 

  <div class="search_results_ctrl top titles fix-float">
    {% include "includes/titles_browse_ctrl.html" %}
  </div>
 
  <div id="wrap_searchdir" class="w_pad">
    <table class="data" width="100%">
    {% for title in page.object_list %}
    <tr class="{% cycle 'lightGray' 'white' %}">
        <td><a href="{% url 'openoni_title' title.lccn %}">{{title}}</a></td>
    </tr>
    {% endfor %}
    </table>
  </div><!-- end id:wrap_searchdir -->
  
  <div class="search_results_ctrl bot titles fix-float">
    {% include "includes/titles_browse_ctrl.html" %}
  </div>
  {% endblock %}

  {% block javascript %}
  {{ block.super }}
  <script type="text/javascript">
      jQuery(function($){
          $("[name=jumptopage]").submit(function(e){
              e.preventDefault();
              var base = '{% url 'openoni_titles' %}';
              var page = this.elements[0].value;
              {% if start %}
              window.location.href=base+';start='+'{{start}}'+';page='+page; 
              {% else %}
              window.location.href=base+';page='+page; 
              {% endif %}
              });
          });
  </script>
</div>

{% endblock %}
