#footer,
#footer * {
margin:0;
padding: 0;
}
#footer {
clear: both;
background: #900 url(../img-foot/line.gif) 0 0 no-repeat;
padding-top:2px;
text-align: left;
font-family: Verdana, Arial, Helvetica, sans-serif !important;
font-size: 10px !important;
line-height: 1.333 !important;
}
#footer,
#footer h3,
#footer h4 {
color: #666 !important;
}
#footer a:link,
#footer a:visited {
color: #666;
text-decoration: underline;
}
#footer a:focus,
#footer a:hover,
#footer a:active {
color: #333;
text-decoration: underline;
}
#footer h3 {
font-family: Georgia, "Times New Roman", Times, serif;
font-size: 11px;
}
#footer h4 {
font-size: 10px;
}
#footer .f_container {
background-color: #fefefe;
}
	#footer .f_inner_top {
	padding: 10px;
	margin-bottom: 2px;
	}
		#footer .f_inner_top h3 span {
		font-family: Verdana, Arial, Helvetica, sans-serif;
		font-size: 10px;
		font-weight: normal;
		margin-left: 5px;
		}
		#footer .f_inner_top h3 span a {
		background: transparent url(../img-foot/arrow-dbl-gray-right.gif) right 4px no-repeat;
		padding-right: 8px;
		}
	#footer .f_inner_mid {
	padding: 5px 0px;
	margin: 0 auto;
	width: 630px;
	overflow:hidden;
	}
		#footer .f_inner_mid .find_us {
		width:29%;
		float:left;
		clear:left;
		}
			#footer .f_inner_mid .find_us h4 {
			margin-bottom: 2px;
			}
			#footer .f_inner_mid .find_us a {
			margin: 0 13px 0 0px;
			border:0;
			}
			#footer .f_inner_mid .find_us img {
			border:0;
			}
		#footer .f_inner_mid .subscribe {
		width:34%;
		float:left;
		}
			#footer .f_inner_mid .subscribe a {
			margin: 0 13px 0 0px;
			border:0;
			}
		#footer .f_inner_mid .download {
		width:37%;
		float:left;
		clear:right;
		}
			#footer .f_inner_mid .download span.external a {
			background: transparent url(../img-foot/icon-ext-foot.gif) right 2px no-repeat;
			padding-right: 12px;
			}
			#footer .f_inner_mid .download a {
			margin: 0 13px 0 0px;
			border:0;
			}
	#footer .f_inner_bot {
	padding: 12px 10px 13px 10px;
	margin: 0;
	text-align:right;
	overflow:hidden;
	clear:both;
	}
		#footer .f_inner_bot .sitelinks {
		float:left;
		clear:left;
		}
		#footer .f_inner_bot .speech {
		float:right;
		clear:right;
		}
		#footer .f_inner_bot .speech a {
		background: transparent url(../img-foot/speech.gif) right 0px no-repeat;
		padding-right: 18px;
		}