@charset "utf-8";
/* CSS Document */

#box_right p {
    color: #666;
    padding: 5px 15px 5px 10px;
    font-size: 80%;
	line-height: 120%;
	margin: 0;/* added by LAK*/
}
#box_right h2 {
    font: bold 95%/100% georgia, times, serif; /* modified by LAK*/
    margin: 10px 0px 10px 0px;
    color: #c66;
    font-weight: 900;
    padding: 0px 0px 0px 10px;/* modified padding left from 15px to 10px by LAK*/
}
#box_right h3 {
    font: bold 80%/100% georgia, times, serif;
    color: #333;
    font-weight: 900;
    margin-left: 10px;
    padding: 0;
}
#box-right ul {
    margin: 0;
    padding: 0;
    list-style: disc;
}
#box_right ul li {
    list-style-type: circle;
    display:block;
    font: normal 80%/120% verdana, helvetica, sans-serif;
    background: transparent;
    padding: 2px 5px 2px 0px; 
    margin: 1px 0px 1px 0px;
}
#box_right ul li a {
	font-weight: 100;
}