table.tablesorter { border-collapse:collapse; }

table.tablesorter td, table.tablesorter th { 
    border-left: 1px solid #ccc
}

table.tablesorter .left_no_border {
    border-left: None
}

table.tablesorter tbody tr.odd td {
    background-color:#fdfeee;
}

table.tablesorter thead tr .header {
    background-image: url(../images/bg.gif);
    background-repeat: no-repeat;
    background-position: left center;
    cursor: pointer;
    padding-left: 20px;
}

table.tablesorter thead tr .headerSortUp {
    background-image: url(../images/asc.gif);
}

table.tablesorter thead tr .headerSortDown {
    background-image: url(../images/desc.gif);
}
